<div class="container">
  <div class="card border-white">
    <%= image_tag(@article.image, class:"rounded mx-auto", height:"500", width:"500") %>
    <div class="card-body">
      <h5 class="card-title"><%= @article.title %></h5>
      <p class="card-text"><%= @article.text %></p>
      <p class="card-text"><small class="text-muted"><%= @article.genre.name %></small></p>
    </div>
  </div>
          <%= link_to '編集しますか？', edit_article_path(@article.id), class: "btn btn-primary btn-lg btn-block" %>
            <strong><a>or</a></strong>
          <%= link_to '削除しますか？', article_path(@article.id), method: :delete, class:'article-destroy', class: "btn btn-danger btn-lg btn-block" %>
</div>
