<div class="lililili">2023年2月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>
<div class="lili">2023.2.5.Sun.</div>
<div class="lilili"> @<%= link_to '福岡SQUARE GARDEN', 'https://sgarden.jp' %> 
<br>
山下Topo洋平 New Album 「KOKOPELLI」発売記念ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:00/start18:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.2.7.Tue.</div>
<div class="lilili"> @<%= link_to '関内A.B.Smile', 'https://absmile.jimdofree.com' %> 
<br>
竹内直(ts) old&new dream jazz orchestra
<br>
Member:竹内直(ts,cl)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:start20:00
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2023.2.9.Thu.</div>
<div class="lilili"> @<%= link_to '下北沢rpm', 'https://www.rpmshimokita.com' %> 
<br>
TENTA JAM
<br>
Member:後藤天太(sax)横濱良太郎(tb)酒井太(b)神田リョウ(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,500(2drink付)
</div>
<br>


<div class="lili">2023.2.10.Fri.</div>
<div class="lilili"> @<%= link_to '台東区生涯学習センターミレニアムホール', 'https://www.culture.city.taito.lg.jp/ja/facilities/00001c0000000000000200000054008b' %> 
<br>
歌と語りのコンサート「舞姫」
<br>
Member:堀江洋賀(g)鹿野亮介(as)ケン•アマド(語り)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000(全席自由)
<br>
※詳細は<%= link_to 'こちら', 'https://guildce100.wixsite.com/taenzerin' %> 
</div>
<br>


<div class="lili">2023.2.15.Wed.</div>
<div class="lilili"> @<%= link_to '代々木Naru', 'https://yoyogi-naru.com' %> 
<br>
Member:金子ナオ(vo)川名雅子(vo)鉄井孝司(b)
<br>
Time:open18:30/start19:15
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2023.2.16.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.2.17.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.2.18.Sat.</div>
<div class="lilili"> @<%= link_to '学芸大学珈琲美学', 'https://www.coffeebigaku.com' %> 
<br>
Member:細見真由(vo)大塚義将(b)
<br>
Time:open18:00/start19:00
<br>
mc:¥4,400
<br>
※配信(チケット¥3,000)は<%= link_to 'こちら', 'https://twitcasting.tv/coffee_bigaku/shopcart/200329' %> 
</div>
<br>


<div class="lili">2023.2.23.Thu.</div>
<div class="lilili"> @<%= link_to '蕨our delight', 'http://ourdelight.blog.jp' %> 
<br>
TwinPiano!
<br>
Member:豊秀彩華(p)
<br>
Time:open13:00/start13:30
<br>
mc:¥3,600
<br>
</div>
<br>


<div class="lili">2023.2.25.Sat.</div>
<div class="lilili"> @<%= link_to '阿佐ヶ谷KLAVIER', 'http://www2.tbb.t-com.ne.jp/klavier/www/' %> 
<br>
Member:入山ひとみ(vn)
<br>
Time:start19:30
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2023.2.26.</div>
<div class="lilili"> @<%= link_to '赤坂Cantina', 'https://akasakac2020.wixsite.com/livehouse' %> 
<br>
Member:kanon(vo)JIMI橋詰(d)三浦トオル(b)北浜実(g)
<br>
Time:open18:00/start18:30
<br>
mc:¥3,500
</div>
<br>
<br>
<br>
<br><br><br><br>