<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>2024年5月のスケジュール</h2>

<div class="lili">2024.5.5.Sun.</div>
<div class="lilili"> @<%= link_to '下北沢Apollo', 'https://www.apollonoise.com' %> 
<br>
ジャムセッション
<br>
Member:広橋契(b)柳沼佑育(b)
<br>
Time:start14:00
<br>
mc:¥1,500
</div>
<br>


<div class="lili">2024.5.7.Tue.</div>
<div class="lilili"> @<%= link_to '桜木町Dolphy', 'https://dolphy-jazzspot.com' %> 
<br>
利光玲奈トリオ
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open18:00/start19:00
<br>
mc:予約¥4,000/当日¥4,500
</div>
<br>


<div class="lili">2024.5.10.Fri.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://nowonmusic.com/members/397' %> 
<br>
Member:高木沙耶(ts)三嶋大輝(b)
<br>
Time:open19:00/start19:40
<br>
mc:お手数ですがお店にお問い合わせくださいませ
</div>
<br>


<div class="lili">2024.5.14.Tue.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Member:石田裕人(ts)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.5.17.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.5.23.Thu.</div>
<div class="lilili"> @<%= link_to '高円寺after hours', 'https://afterhours1975.com' %> 
<br>
Member:金子ナオ(vo)
<br>
Time:open19:00/start19:30
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2024.5.24.Fri.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
mc:¥1,500
</div>
<br>


<div class="lili">2024.5.24.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.5.29.Wed.</div>
<div class="lilili"> @<%= link_to '関内A.B.Smile', 'https://absmile.jimdofree.com' %> 
<br>
竹内直old&new dream jazz orchestra
<br>
Member:竹内直(ts,cl)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2024.5.31.Fri.</div>
<div class="lilili"> @<%= link_to '上福岡一乗', 'https://ichijou-live.com' %> 
<br>
Member: 鈴木梨花子(d)金澤力哉(b)
<br>
Time:open19:00/start19:30
<br>
mc:投げ銭
</div>
<br>
<br>
<br><br><br><br>