<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>2024年4月のスケジュール</h2>


<div class="lili">2024.4.1.Mon.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
<br>
※配信は<%= link_to 'こちら', 'https://youtube.com/live/vzyEN14h3-E' %> 
</div>
<br>


<div class="lili">2024.4.2.Tue.</div>
<div class="lilili"> @<%= link_to '茗荷谷Galleria caffe U_U ', 'https://cafe.u-u.cc' %> 
<br>
Member:飯嶋ももこ(vo)磯貝たかあき(vo) from Breeze
<br>
Time:open18:30/start19:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.4.6.Sat.</div>
<div class="lilili"> @<%= link_to '神楽坂u-ma kagurazaka', 'https://www.u-makagurazaka.com' %> 
<br>
ボーカルワークショップ
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open13:00/start13:30
<br>
mc:歌唱参加¥6,000/リスナー¥4,500
<br>
※1ドリンク付きの価格です。
</div>
<br>


<div class="lili">2024.4.13.Sat.</div>
<div class="lilili"> @<%= link_to '四ツ谷möbius ', 'http://www.mebius-yotsuya.jp' %> 
<br>
フランクセレクションvol100+38  Four M Quartet
<br>
Member:情家みえ(vo)飯嶋ももこ(vo)岩野未侑(vo)
<br>
Time:open15:20/start16:00
<br>
mc:¥4,500
</div>
<br>


<div class="lili">2024.4.15.Mon.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.4.17.Wed.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ライブ&セッション
<br>
Member:金澤力哉(b)鈴木梨花子(d)
<br>
Time:start19:00
<br>
mc:投げ銭
<br>
※ライブは1ステージのみ、その後セッション(参加費¥500)となります。
</div>
<br>


<div class="lili">2024.4.18.Thu.</div>
<div class="lilili"> @<%= link_to '高円寺after hours', 'https://afterhours1975.com' %> 
<br>
Member:高井健(vo,g)
<br>
Time:start19:30
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2024.4.19.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.4.20.Sat.</div>
<div class="lilili"> @<%= link_to '阿佐ヶ谷KLAVIER', 'http://www2.tbb.t-com.ne.jp/klavier/www/' %> 
<br>
Member:MIWO(vo)
<br>
Time:open19:00/start19:30
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2024.4.21.Sun.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみトリオ
<br>
Member:入山ひとみ(vn)坂本貴啓(d,per,etc…)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.4.22.Mon.</div>
<div class="lilili"> @<%= link_to '渋谷バッキー', 'http://buckie.starfree.jp/event_info.html' %> 
<br>
ボーカルセッション
<br>
Member:渡瀬ひとみ(vo)日下部史貴(b)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.4.24.Tue.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>
<br><br><br><br>