<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>注目スケジュール</h2>

<div class="lili">2025.1.15.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>

<h2>2025年2月のスケジュール</h2>

<div class="lili">2025.2.7.Fri.</div>
<div class="lilili"> @<%= link_to 'ラビスタ東京ベイ', 'https://dormy-hotels.com/resort/hotels/la_tokyobay/' %> 
<br>
鈴木梨花子バンド
<br>
Member:石川周之介(sax)越野振人(b)鈴木梨花子(d)
<br>
Time:1st18:30/2nd19:45
<br>
※詳細は<%= link_to 'こちら','https://dormy-hotels.com/information/tokyobay_musicevent/index.php7' %>
</div>
<br>


<div class="lili">2025.2.9.Sun.</div>
<div class="lilili"> @<%= link_to '中目黒楽屋', 'https://www.rakuya.asia' %> 
<br>
BREEZE “ジャズソング歌ってみる会 vol.2
<br>
Member:小菅けいこ(vo)磯貝たかあき(vo)中村マナブ(vo)
<br>
Time:open12:00/start13:00
<br>
mc:¥2,750
</div>
<br>


<div class="lili">2025.2.10.Mon.</div>
<div class="lilili"> @<%= link_to '新宿Pit inn', 'http://pit-inn.com' %> 
<br>
山田丈造 New Quartet
<br>
Member:山田丈造(tp,flh)古木佳祐(b)高橋直希(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,300(1drink付)
</div>
<br>


<div class="lili">2025.2.13.Thu.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:鈴木史子(vo)
<br>
Time:open19:00/start19:40
</div>
<br>


<div class="lili">2025.2.14.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.2.15.Sat.</div>
<div class="lilili"> @<%= link_to '吉祥寺SOMETIME', 'https://www.sometime.co.jp/sometime/' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open12:00/start13:00
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2025.2.16.Sun.</div>
<div class="lilili"> @<%= link_to 'ラビスタ東京ベイ', 'https://dormy-hotels.com/resort/hotels/la_tokyobay/' %> 
<br>
鈴木梨花子バンド
<br>
Member:金澤力哉(b)鈴木梨花子(d)
<br>
Time:1st18:30/2nd19:45
<br>
※詳細は<%= link_to 'こちら','https://dormy-hotels.com/information/tokyobay_musicevent/index.php' %>
</div>
<br>


<div class="lili">2025.2.18.Tue.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
お昼のボーカルセッション
<br>
Time:start14:00
<br>
mc:¥2,500(ソフトドリンク2杯付)
</div>
<br>


<div class="lili">2025.2.18.Tue.</div>
<div class="lilili"> @<%= link_to '茗荷谷Galleria caffe U_U', 'https://www.instagram.com/galleria_caffe_u_u?igsh=eDRpd2xlY215cHRo' %> 
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2025.2.19.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥投げ銭
</div>
<br>


<div class="lili">2025.2.21.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.2.23.Sun.</div>
<div class="lilili"> @<%= link_to '古河チャンガラカフェ', 'http://www.tjangala-cafe.jp' %> 
<br>
Member:飯嶋ももこ(vo)吉川大介(b)田島和俊(d)
<br>
Time:open17:30/start18:00
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2025.2.25.Tue.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple/e/93e61126924b20da676a97f409e8cfec' %> 
<br>
Member:寝占友梨絵(vo)
<br>
Time:open19:00/start19:40
</div>
<br>


<div class="lili">2025.2.27.Thu.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Member: 坂元杏理(vo)松原慶史(g)三嶋大輝(b)関根豊明(d)
<br>
Time:open18:45/start19:15
<br>
mc:¥5,500
<br>
※90分のワンステージ制となります。
</div>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>