<div class="lililili">2022年12月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">2022.12.1.Thr.</div>
<div class="lilili"> @<%= link_to '淡路町Lydian', 'http://jazzlydian.com ' %> 
<br>
Member:中島有美(vo)
<br>
Time:open18:30/start19:15
<br>
mc:¥3,400
</div>
<br>


<div class="lili">2022.12.3.Sat.</div>
<div class="lilili"> @<%= link_to '浜松プラネットカフェ', 'http://www.club-planetcafe.com' %> 
<br>
So Happy Life
<br>
Member:吉村樹里(vo)篠崎賢(tp)金澤力哉(b)大木拓也(d)
<br>
Time:open21:00/close05:00
<br>
mc:¥3,000
<br>
※演奏は深夜帯の予定です。
</div>
<br>


<div class="lili">2022.12.7.Wed.</div>
<div class="lilili"> @<%= link_to '茅ヶ崎Storyville', 'http://www.jazz-storyville.com' %> 
<br>
Member:SAWA(vo)中山拓海(as)
<br>
Time:start19:00
<br>
mc:¥4,400
</div>
<br>


<div class="lili">2022.12.10.Sat.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange ' %> 
<br>
ジャムセッション
<br>
Member:宮嶋孝夫(b)
<br>
Time:start15:00
<br>
mc:¥2,000
</div>
<br>


<div class="lili">2022.12.12.Mon.</div>
<div class="lilili"> @<%= link_to '自由が丘hyphen', 'http://r.goope.jp/hyphen/ ' %> 
<br>
Member:飯嶋ももこ(vo)
<br>
Time:未定
<br>
mc:未定
</div>
<br>


<div class="lili">2022.12.14.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo ' %> 
<br>
谷殿明良Chamber Jazz Ensemble
<br>
Member:谷殿明良(tp)平山織絵(Vc)山本裕之(b)
<br>
Time:start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2022.12.16.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com ' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.12.18.Sun.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'http://www.sugarhill.jp ' %> 
<br>
Member:中島香里(vib)
<br>
Time:open14:00 start15:00
<br>
mc:¥3,000
<br>
※配信は<%= link_to 'こちら', 'https://passmarket.yahoo.co.jp/event/show/detail/02qt3e2i53r21.html ' %> から
</div>
<br>


<div class="lili">2022.12.19.Mon.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com ' %> 
<br>
美沙樹と勇樹
<br>
Member:矢元美沙樹(ts)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥投げ銭
</div>
<br>


<div class="lili">2022.12.20.Tue.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net ' %> 
<br>
Member:入山ひとみ(vn)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2022.12.21.Wed.</div>
<div class="lilili"> @<%= link_to '六本木Claps', 'https://c-laps.jp' %> 
<br>
山下Topo洋平 バースデイライブ
<br>
Member:山下Topo洋平(que,zmp)箭島裕治(b)渡辺庸介(per)
<br>
Time:open18:00/start19:00
<br>
mc:予約¥4,000/当日¥4,500
</div>
<br>


<div class="lili">2022.12.23.Fri.</div>
<div class="lilili"> @<%= link_to '目白Mark Ⅵ', 'https://mark6mejiro.com' %> 
<br>
Member:馬越脇崚(sax)中島有美(vo)足立雄大(sax)山口創士(sax)織田和優(sax)
<br>
Time:open18:30/start19:00
<br>
mc:¥4,000
<br>
※配信は<%= link_to 'こちら', 'https://twitcasting.tv/g:107811839427071835678/shopcart/200850' %> 
</div>
<br>


<div class="lili">2022.12.28.Wed.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Remi Birthday Eve Live
<br>
Member:Remi(vo)笛吹かな(fl,篠笛)
<br>
Time:open18:30/start19:00
<br>
mc:¥4,950
</div>
<br>

<div class="lili">2022.12.31.Sat.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
中山拓海 年末Countdown Live
<br>
Member:中山拓海(as)山田丈造(tp)三原万里子(tb)田中邦和(ts)RIO(bs)金森もとい(b)山田玲(d)岡本健太(per)SAWA(vo)
<br>
Time:1st21:30~22:30/2nd23:00~00:10
<br>
mc:¥5,500
<br>
※2ndのみの出演となります。1stは中山拓海カルテットによる演奏です。
</div>
<br>
<br><br><br><br>