<div class="lililili">2023年5月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">2023.5.4.Thu.</div>
<div class="lilili"> @<%= link_to '八王子jcomホール', 'https://jcom.hall-info.jp' %> 
<br>
都立富士森高等学校吹奏楽部定期演奏会 ゲスト出演
<br>
Time:open17:00/start17:30
<br>
mc:当日¥1,000/前売¥800
<br>
※3部後半での出演となります。
</div>
<br>


<div class="lili">2023.5.6.Sat.</div>
<div class="lilili"> @<%= link_to '立川Jesse James', 'http://jessejames-tachikawa.music.coocan.jp/contents6.htm' %> 
<br>
Member:KaoRi ITo(vo)
<br>
Time:open13:30/start14:00
<br>
mc:¥2,600
</div>
<br>


<div class="lili">2023.5.9.Tue.</div>
<div class="lilili"> @<%= link_to '新宿Pit inn', 'http://pit-inn.com' %> 
<br>
竹内直old&new dream jazz orchestra
<br>
Member:竹内直(ts,cl)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,850
</div>
<br>


<div class="lili">2023.5.12.Fri.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:鈴木梨花子(per,d)
<br>
Time:start19:00
<br>
mc:¥2,000
</div>
<br>


<div class="lili">2023.5.13.Sat.</div>
<div class="lilili"> @<%= link_to '町田Nica’s', 'http://nicas.html.xdomain.jp' %> 
<br>
西村健司セクステット
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:30/start19:30
<br>
mc:当日¥3,700/予約¥3,500
</div>
<br>


<div class="lili">2023.5.14.Sun.</div>
<div class="lilili"> @<%= link_to '蕨our delight', 'http://ourdelight.blog.jp' %> 
<br>
Member:片山士駿(fl)朝田拓馬(g)川本悠自(b)
<br>
Time:open13:00/start13:30
<br>
mc:¥4,100(1drink付き)
</div>
<br>


<div class="lili">2023.5.14.Sun.</div>
<div class="lilili"> @<%= link_to '八王子Jazz Trane', 'https://jazztraneorg.wordpress.com' %> 
<br>
Member:伊地知晋平(ts)椎名達人(b)林伸一郎
<br>
Time:open18:50/start19:00
<br>
mc:¥2,500
<br>
※お店の飲食提供はございません。ドリンクなどは持ち込み制となります。
</div>
<br>


<div class="lili">2023.5.19.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.5.21.Sat.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'http://www.sugarhill.jp' %> 
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open17:00/start18:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.5.21.Sun.</div>
<div class="lilili"> @<%= link_to '下北沢Apollo', 'https://www.apollonoise.com' %> 
<br>
ジャムセッション
<br>
Member:伊地知大輔(b)鈴木梨花子(d)
<br>
Time:start14:00
<br>
mc:¥1,500
</div>
<br>


<div class="lili">2023.5.22.Mon.</div>
<div class="lilili"> @<%= link_to 'むっちゃんねる', 'https://youtube.com/@jazz-pianist1965' %> 
<br>
無観客配信ライブ  
<br>
Member:後藤天太(sax)
<br>
Time:start20:00
<br>
mc:無料(配信ページ概要欄よりチケット購入で応援して頂けますと幸いです。)
</div>
<br>


<div class="lili">2023.5.25.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.5.28.Sun.</div>
<div class="lilili"> @<%= link_to '上福岡 音喫茶一乗', 'https://ichijou-live.com' %> 
<br>
Member:鈴木梨花子(per)
<br>
Time:open15:00/start15:30
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2023.5.30.Tue.</div>
<div class="lilili"> @<%= link_to '代々木Naru', 'https://yoyogi-naru.com' %> 
<br>
Member:田中真美子(vo)安保徹(sax)
<br>
Time:open18:30/start19:15
<br>
mc:¥3,300
</div>
<br>

<div class="lili">2023.4.1.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>

<br>
<br>
<br>
<br><br><br><br>