<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>6月の注目スケジュール</h2>

<div class="lili">2025.6.2.Mon.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
Special Session Live
<br>
Member:石川周之介(sax,fl)越野振人(b)鈴木梨花子(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.6.4.Wed.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
浅利史花Quartet 
<br>
Member:浅利史花(g)三嶋大輝(b)山崎隼(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥1,500+tc:¥500(ナッツ類食べ放題)
</div>
<br>


<div class="lili">2025.6.5.Thu.</div>
<div class="lilili"> @<%= link_to '新宿Pit inn', 'http://pit-inn.com' %> 
<br>
山田丈造New Quartet 
<br>
Member:山田丈造(tp)古木佳祐(b)高橋直希(d)guest曽我部泰紀(ts)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,300(1drink付)
</div>
<br>


<div class="lili">2025.6.6.Fri.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:佐藤恭子(as,ss)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300(1セットのみの場合¥2,500)
</div>
<br>


<div class="lili">2025.6.10.Tue.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Member:奥平真希(vo)進藤洋樹(g)
<br>
Time:open18:45/start19:15
<br>
mc:¥5,500
<br>
※90分の1ステージとなります。
</div>
<br>

<div class="lili">2025.6.11.Wed.</div>
<div class="lilili"> @<%= link_to '池袋INDEPENDENCE', 'http://jazz-independence.com' %> 
<br>
大山日出男Quartet 
<br>
Member:大山日出男(as)粟谷巧(b)塚田陽太(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2025.6.12.Thu.</div>
<div class="lilili"> @<%= link_to '龍ヶ崎コミュニケーションハウス', 'https://www.communicatehouse.com/communicationhouse' %> 
<br>
Member:鹿野亮介(as)日下部史貴(b)秋山修一(d)
<br>
Time:open17:30/start18:00
<br>
mc:¥2,000
<br>
※ドリンク•フード持ち込み可
</div>
<br>



<div class="lili">2025.6.13.Fri.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(vo,d)三嶋大輝
<br>
Time:open19:00/start20:00
<br>
mc:投げ千
</div>
<br>


<div class="lili">2025.6.15.Sun.</div>
<div class="lilili"> @<%= link_to '下北沢SPREAD', 'https://spread.tokyo' %> 
<br>
Janon Panic Push 1st album release party live 「ダンスダーンスダーーンス」
<br>
Member:大塚望(vo)長谷川”ジャッカル”慧人(b)木村美保(cho)原島燎平(d)natsume(DJ)
<br>
Time:open18:00/start19:00
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2025.6.17.Tue.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
参加費:¥2,500(ソフトドリンク1杯付)
</div>
<br>

<div class="lili">2025.6.18.Wed.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:金澤力哉(b)鈴木梨花子(d)
<br>
Time:start19:00
<br>
参加費:¥2,000
</div>
<br>


<div class="lili">2025.6.20.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:15
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.6.22.Sun.</div>
<div class="lilili"> @<%= link_to '広尾プラザ', 'http://hiroo-plaza.com/plaza/' %> 
<br>
OTOYA-HIROO 紗里Trio
<br>
Member:紗理(vo)堀江洋賀(g)
<br>
Time:1st 13:00/2nd 14:30
<br>
mc:free
</div>
<br>


<div class="lili">2025.6.23.Mon.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:坂元杏理(vo)
<br>
Time:start19:40
</div>
<br>

<div class="lili">2025.6.24.Tue.</div>
<div class="lilili"> @<%= link_to '高円寺after hours', 'https://afterhours1975.com' %> 
<br>
Member:牧田理佐(vo)
<br>
Time:start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2025.6.28.Sat.</div>
<div class="lilili"> @<%= link_to '若葉サロンドステラ', 'https://www.facebook.com/groups/1733115650279628' %> 
<br>
大山日出男Quartet 
<br>
Member:大山日出男(as)吉田豊(b)坂上学(d)
<br>
Time:start13:00
<br>
※完全ご予約制となります。お問い合わせください。
</div>
<br>


<div class="lili">2025.6.29.Sun.</div>
<div class="lilili"> @<%= link_to '杉並公会堂大ホール', 'https://www.suginamikoukaidou.com' %> 
<br>
純夜会
<br>
※詳細は<%= link_to 'こちら', 'https://teket.jp/10169/48008' %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>