<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>2025年3月のスケジュール</h2>


<div class="lili">2025.3.1.Sat.</div>
<div class="lilili"> @<%= link_to '吉祥寺strings', 'https://www.jazz-strings.com' %> 
<br>
Member:勝部まき(vo)
<br>
Time:open17:30/start18:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2025.3.7.Fri.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
mc:¥2,500(ソフトドリンク2杯込)
<br>
※参加型のジャムセッションイベントです。
</div>
<br>


<div class="lili">2025.3.8.Sat.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:佐藤恭子(as)
<br>
Time:open17:00/start18:00
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2025.3.9.Sun.</div>
<div class="lilili"> @<%= link_to '吉祥寺strings', 'https://www.jazz-strings.com' %> 
<br>
ストリングスセッションvol.9
<br>
Member:maiko(vn)
<br>
Time:start17:30
<br>
mc:¥2,700
<br>
※参加型のジャムセッションイベントです。
</div>
<br>


<div class="lili">2025.3.10.Mon.</div>
<div class="lilili"> @<%= link_to '銀座lounge ZERO', 'http://ginza-zero.jp' %> 
<br>
JAZZとニッポンの歌とおしゃべりLive
<br>
Member:ちか(vo)佐藤忍(b)小前賢吾(d)
<br>
Time:open18:00/start19:00
<br>
mc:¥4,000
</div>
<br>


<div class="lili">2025.3.12.Wed.</div>
<div class="lilili"> @<%= link_to '桜木町Dolphy', 'https://dolphy-jazzspot.com' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open18:30/start19:30
<br>
mc:予約¥4,000/当日¥4,500
</div>
<br>


<div class="lili">2025.3.13.Thu.</div>
<div class="lilili"> @<%= link_to '関内A.B.Smile', 'https://absmile.jimdofree.com' %> 
<br>
竹内直old&new dream jazz orchestra 
<br>
Member:竹内直(ts)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)工藤精(b)吉岡大輔(d)guest福山詩織(vo)
<br>
Time:start19:30
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2025.3.14.Fri.</div>
<div class="lilili"> @<%= link_to 'Billboard YOKOHAMA ', 'https://www.billboard-live.com/yokohama/details'%> 
<br>
XinU “From One to Collective” at Billboard Live 
<br>
※詳細は<%= link_to 'こちら' , 'https://www.billboard-live.com/yokohama/show?event_id=ev-20419' %>
</div>
<br>


<div class="lili">2025.3.15.Sat.</div>
<div class="lilili"> @<%= link_to '甲府桜座', 'https://kofucci.or.jp/event/20180806/' %> 
<br>
甲府ジャズストリート2025　佐藤恭子セプテット
<br>
Member:佐藤恭子(as,ss,comp,arr)David Negrete(ts,fl)石川広行(tp)和田充弘(tb)佐藤潤一(b)横山和明(d)
<br>
Time:start18:00
<br>
※詳細は<%= link_to 'こちら' , 'https://kofucci.or.jp/event/20180806/' %>
</div>
<br>


<div class="lili">2025.3.21~25.</div>
<div class="lilili"> @<%= link_to '台湾', 'h' %> 
<br>
大山日出男カルテット台湾ツアー
<br>
Member:大山日出男(as)リン•ウェイシン(b)Jun Saito(d)
</div>
<br>


<div class="lili">2025.3.28.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.3.29.Sat.</div>
<div class="lilili"> @<%= link_to '中野Sweet Rain', 'http://jazzsweetrain.com' %> 
<br>
Member:土井徳浩(cl)
<br>
Time:start19:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2025.3.30.Sun.</div>
<div class="lilili"> @<%= link_to '表参道ZIMAGINE', 'https://zimagine.genonsha.co.jp' %> 
<br>
レジョン•ルイ誕生月ライブ
<br>
Member:レジョン•ルイ(vo)三嶋大輝(b)
<br>
Time:open13:00/start13:30
<br>
mc:¥5,000
</div>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>