<div class="lililili">2023年10月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">2023.10.1.Sun.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.10.2.Mon.</div>
<div class="lilili"> @<%= link_to '銀座the deep', 'https://jazz-thedeep.com' %> 
<br>
Member:酒井麻生代(fl)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2023.10.4.Wed.</div>
<div class="lilili"> @<%= link_to '池袋absolute blue', 'https://absol.blue/?gclid=EAIaIQobChMIw9bp-ujZgQMV5tMWBR03pQcaEAAYASABEgKiEfD_BwE' %> 
<br>
後藤天太Jazz project
<br>
Member:後藤天太(sax)小川晋平(b)柴田亮(d)guest石川周之介(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2023.10.6.Fri.</div>
<div class="lilili"> @<%= link_to '上越市浄興寺', 'http://www.johkohji.com' %> 
<br>
牧山純子バイオリンコンサート
<br>
Member:牧山純子(vn)
<br>
Time:open18:00/start18:30
<br>
mc:前売¥5,000/当日¥5,500
</div>
<br>


<div class="lili">2023.10.7.Sat.</div>
<div class="lilili"> @<%= link_to '上越市川上会館', 'https://bunka.nii.ac.jp/heritages/detail/210305' %> 
<br>
牧山純子 5th 川上 山里の風コンサート
<br>
Member:牧山純子(vn)
<br>
Time:open14:00/start14:30
<br>
mc:¥2,000
</div>
<br>


<div class="lili">2023.10.12.Thu.</div>
<div class="lilili"> @<%= link_to '龍ヶ崎コミュニケーションハウス2F', 'https://www.communicatehouse.com/news-1' %> 
<br>
龍ヶ崎JAZZ CLUB(RJC)ライブ
<br>
Member:鹿野亮介(as)日下部史貴(b)秋山修一(d)
<br>
Time:open17:30/start18:00
<br>
mc:¥2,000
</div>
<br>


<div class="lili">2023.10.13.Fri.</div>
<div class="lilili"> @<%= link_to 'いわきGuest Houce&Lounge FARO', 'いわきGuest House&Lounge FARO' %> 
<br>
山下Topo洋平オータムツアー2023
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.10.14.Sat.</div>
<div class="lilili"> @<%= link_to '福島Magie Noir', '福島Magie Noir' %> 
<br>
山下Topo洋平オータムツアー2023
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open13:00/start14:30
<br>
mc:¥4,000
<br>
※お食事(¥2,800)は要予約で、13:30からお召し上がり頂きます。
</div>
<br>


<div class="lili">2023.10.15.Sun.</div>
<div class="lilili"> @<%= link_to '黒羽たまち公園 蔵屋敷', 'https://www.ohtawara.info/spot_detail.html?id=119' %> 
<br>
山下Topo洋平オータムツアー2023
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open14:30/start15:00
<br>
mc:¥3,000
<br>
※ご予約はこちら(090-4733-2031)
</div>
<br>


<div class="lili">2023.10.18.Wed.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:鈴木梨花子(d/per)
<br>
Time:start19:00
<br>
mc:¥2,000
<br>
※参加型セッションとなります。
</div>
<br>


<div class="lili">2023.10.20.Fri.</div>
<div class="lilili"> @<%= link_to '熊本 restaurant&Live bar CIB', 'https://cib-co.jp' %> 
<br>
JiLL-Decoy10~double~ Release Tour 
<br>
Member:chihiRo(vo)towada(d)岩川峰人(b)
<br>
Time:open18:00/start19:30
<br>
mc:前売¥5,000(当日¥5,500)
</div>
<br>


<div class="lili">2023.10.21.Sat.</div>
<div class="lilili"> @<%= link_to '福岡border -live music&drinks', 'https://border-live.com' %> 
<br>
JiLL-Decoy10~double~ Release Tour 
<br>
Member:chihiRo(vo)towada(d)岩川峰人(b)
<br>
Time:open17:30/start18:30
<br>
mc:前売¥5,000(当日¥5,500)
</div>
<br>


<div class="lili">2023.10.22.Sun.</div>
<div class="lilili"> @<%= link_to '下関Jazz Club BILLIE', 'https://www.billie.jp' %> 
<br>
JiLL-Decoy10~double~ Release Tour 
<br>
Member:chihiRo(vo)towada(d)岩川峰人(b)
<br>
Time:open15:00/start16:00
<br>
mc:¥6,000
</div>
<br>


<div class="lili">2023.10.28.Sat.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open17:00/start18:00
<br>
mc:¥3,000
<br>
※配信は<%= link_to 'こちら', 'https://passmarket.yahoo.co.jp/event/show/detail/02y2822ejpa31.html' %> 
<br>
</div>
<br>


<div class="lili">2023.10.31.Tue.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
曽我部泰紀カルテット
<br>
Member:曽我部泰紀(ts)三嶋大輝(b)山崎隼(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥2,500
</div>
<br>

<br><br><br><br>