<div class="lililili">2023年1月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">20223.1.7.Sat.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'http://www.sugarhill.jp' %> 
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open17:00/start18:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">20223.1.8.Sun.</div>
<div class="lilili"> @<%= link_to '吉祥寺strings', 'https://www.jazz-strings.com' %> 
<br>
Member:LiLi(vo)
<br>
Time:open12:00/start13:00
<br>
mc:¥3,300
</div>
<br>


<div class="lili">20223.1.10.Tue.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
曽我部泰紀カルテット
<br>
Member:曽我部泰紀(ts)三嶋大輝(b)山崎隼(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">20223.1.11.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo' %> 
<br>
金澤力哉トリオ
<br>
Member:金澤力哉(b)小前賢吾(d)
<br>
Time:start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">20223.1.14.Sat.</div>
<div class="lilili"> @<%= link_to '蕨our delight', 'http://ourdelight.blog.jp' %> 
<br>
Member:酒井麻生代(fl)
<br>
Time:open13:00/start13:30
<br>
mc:¥3,600
</div>
<br>


<div class="lili">20223.1.15.Sun.</div>
<div class="lilili"> @<%= link_to '六本木Satin Doll', 'https://satin-doll.jp/top/' %> 
<br>
中島有美×Special band
<br>
Member:中島有美(vo)米田雄一(g)冨樫マコト(b)大津惇(d)
<br>
Time:open17:30/start18:30
<br>
mc:¥4,200
</div>
<br>


<div class="lili">20223.1.17.Tue.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>

<br>
Member:石田裕人(ts)石毛杏子(as)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">20223.1.20.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">20223.1.21.Sat.</div>
<div class="lilili"> @<%= link_to '町田Nica’s', 'http://nicas.html.xdomain.jp' %> 
<br>
西村健司セクステット
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:start19:30
<br>
mc:当日¥3,700/予約¥3,500
</div>
<br>


<div class="lili">20223.1.23.Mon.</div>
<div class="lilili"> @<%= link_to '大泉学園inF', 'https://in-f.live/site/' %> 
<br>
坂本貴啓オーケストラ
<br>
Member:坂本貴啓(acc,per)田村麻紀子(cl,vo)宮崎達也(fl,sax)
<br>
Time:start20:00
<br>
mc:¥
<br>
※オーボエメインでの出演となります。
</div>
<br>


<div class="lili">20223.1.25.Wed.</div>
<div class="lilili"> @<%= link_to '銀座TACT', 'https://ginzatact.com' %> 
<br>
Soul trail live 2023
<br>
Member: aya(Vo)Yuuko(Vo)大木Will(Vo)Lawrence Daniels(Ba)小沢勝巳(Gt)甲本奈保美(Sax)延藤 洋(Dr)武藤 勇樹(Key)guest寺内茂(Tp)
<br>
Time:open18:30/start19:30
<br>
mc:¥4,500
</div>
<br>


<div class="lili">20223.1.26.Thu.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
Member:高井健(vo)
<br>
Time:open19:00/start19:20
<br>
mc:¥3,500
</div>
<br>


<div class="lili">20223.1.27.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM
<br>
Member:JIMI橋詰(d)田村さおり(fl)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">20223.1.30.Mon.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,harp)郡司康雄(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">20223.1.31.Tue.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open19:00/start19:20
<br>
mc:¥3,500
</div>
<br>
<br>
<br><br><br><br>