<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>2025年4月のスケジュール</h2>

<div class="lili">2025.4.1.Tue.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
参加費:¥2,500(ソフトドリンク2杯付)
</div>
<br>


<div class="lili">2025.4.3.Thu.</div>
<div class="lilili"> @<%= link_to 'お茶の水NARU', 'http://ocha-naru.com' %> 
<br>
川本悠自カルテット
<br>
Member:川本悠自(b)杉本匡教(ts)河村亮(d)
<br>
Time:open18:00/start19:00
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.4.5.Sat.</div>
<div class="lilili"> @<%= link_to '渋谷区文化総合センター大和田さくらホール', 'h' %> 
<br>
津吹みゆ10周年コンサート
<br>
※詳細は<%= link_to 'こちら' ,'https://www.crownmusic.co.jp/artist/tsubukiMiyu/schedule.html' %>
</div>
<br>


<div class="lili">2025.4.6.Sun.</div>
<div class="lilili"> @<%= link_to '中目黒楽屋', 'https://www.rakuya.asia' %> 
<br>
ジャズコーラスBREEZE  “Meet Our Friends vol.26”
<br>
Member:小菅けいこ(vo)中村マナブ(vo)磯貝たかあき(vo)友情出演D-flor仲元清美(vo)児玉美和子(vo)
<br>
Time:open12:00/start13:00
<br>
mc:¥2,750
</div>
<br>


<div class="lili">2025.4.6.Sun.</div>
<div class="lilili"> @<%= link_to '渋谷公園通りクラシックス', 'http://koendoriclassics.com' %> 
<br>
Member:佐藤恭子(as,ss)
<br>
Time:open19:00/start19:30
<br>
mc:予約¥3,000/当日¥3,500
</div>
<br>


<div class="lili">2025.4.8.Tue.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:坂元杏理(vo)高木潤一(g)進藤陽悟(p)
<br>
Time:start19:40
<br>
</div>
<br>


<div class="lili">2025.4.10.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
<br>
※配信は<%= link_to 'こちら' , 'https://passmarket.yahoo.co.jp/event/show/detail/02c99pxvab741.html' %>
</div>
<br>


<div class="lili">2025.4.11.Fri.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:高木沙耶(ts)三嶋大輝(b)
<br>
Time:start19:40
<br>
</div>
<br>


<div class="lili">2025.4.12.Sat.</div>
<div class="lilili"> @<%= link_to '入間Blue Labo', 'https://m.facebook.com/100057509197776/' %> 
<br>
入間Blue Labo 11周年ライブ
<br>
Member:浅利史花(g)山本裕之(b)
<br>
Time:open18:00/start19:00
<br>
mc:¥6,000(ワンプレート料理•ドリンク付)
<br>
※sold out
</div>
<br>


<div class="lili">2025.4.13.Sun.</div>
<div class="lilili"> @<%= link_to '壱岐坂Boncourage', 'https://www.bon-courage.tokyo' %> 
<br>
珠也青春塾リバイバル
<br>
Member:曽我部泰紀(ts)鈴木雄太郎(tp)杉内浩介(g)伊藤勇司(b)本田珠也(d)
<br>
※詳細はお店のホームページからご確認ください。
</div>
<br>


<div class="lili">2025.4.15.Tue.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:金澤力哉(b)鈴木梨花子(d)
<br>
Time:start19:00
<br>
参加費:¥2,000
<br>
</div>
<br>


<div class="lili">2025.4.16.Wed.</div>
<div class="lilili"> @<%= link_to '関内Ben Tenuto', 'https://ben-tenuto.owst.jp' %> 
<br>
大山日出男カルテット
<br>
Member:大山日出男(as)大塚義将(b)佐藤大洋(d)
<br>
Time:start19:00
<br>
mc:¥3,000+tc:¥500
</div>
<br>


<div class="lili">2025.4.17.Thu.</div>
<div class="lilili"> @<%= link_to '学芸大学珈琲美学', 'https://www.coffeebigaku.com' %> 
<br>
Miluji Te
<br>
Member:飯嶋ももこ(vo)岩野未侑(vo)久保田裕加(vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥4,400
</div>
<br>


<div class="lili">2025.4.24.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
谷殿明良Chamber Jazz Ensemble 
<br>
Member:谷殿明良(tp)平山織絵(vc)山本裕之(b)則武諒(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.4.25.Fri.</div>
<div class="lilili"> @<%= link_to '埼玉伊奈町Enoteca Viento', 'ウェブサイト' %> 
<br>
Member:酒井麻生代(fl)
<br>
Time:start19:00
</div>
<br>


<div class="lili">2025.4.26.Sat.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
山田丈造New Quartet
<br>
Member:山田丈造(tp)古木佳祐(b)高橋直希(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.4.27.Sun.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
坂元杏理Trio
<br>
Member:坂元杏理(vo)三嶋大輝(b)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.4.28.Mon.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:岩野未侑(vo)鈴木梨花子(per)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.4.30.Wed.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:15
<br>
mc:投げ銭
</div>
<br>

<h2>今後の注目のスケジュール</h2>

<div class="lili">2025.5.21.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.5.22.Thu.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
武藤勇樹カルテット
<br>
Member:堀江洋賀(g)三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>