<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>11月の注目イベント</h2>

<div class="lili">2023.11.28.Tue.</div>
<div class="lilili"> @<%= link_to '新宿Polkadots', 'http://www.jazz-polkadots.com' %> 
<br>
<span>武藤勇樹トリオ</span>
<br>
Member:三嶋大輝(b)利光玲奈(d,vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>
<br>
<br>
<h2>2023年11月のスケジュール</h2>

<br>
<div class="lili">2023.11.2.Thu.</div>
<div class="lilili"> @<%= link_to '渋谷WWW', 'https://www-shibuya.jp/sp/' %> 
<br>
XinU LIVE! -2nd Anniversary-
<br>
Member:XinU(vo)庄司陽太(g)山本連(b)大津惇(d)Haruna(cho)Shun&Dyson(Dance)
<br>
Time:open18:30/start19:30
<br>
mc: 一般前売¥5,500
<br>
※詳しくは<%= link_to 'こちら', 'https://www-shibuya.jp/sp/schedule/017243.php' %>
</div>
<br>


<div class="lili">2023.11.4.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.11.14.Tue.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
利光玲奈トリオ
<br>
Member:利光玲奈(d)三嶋大輝(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.11.16.Tue.</div>
<div class="lilili"> @<%= link_to '銀座王子ホール', 'https://www.ojihall.jp' %> 
<br>
三橋りえ Sings HENLY MANCINI & STANDARDS
<br>
Member:三橋りえ(vo)中村恵介(tp)岡崎正典(ts)駒野逸美(tb)清水昭好(b)稲垣貴庸(d)
<br>
Time:open18:00/start18:30
<br>
mc:当日¥7,000/学生当日¥4,500(前売¥6,000/学生前売4,000)
</div>
<br>


<div class="lili">2023.11.17.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.11.18.Sat.</div>
<div class="lilili"> @<%= link_to '吉祥寺SOMETIME', 'https://www.sometime.co.jp/sometime/' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:start14:00
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2023.11.21.Tue.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:寝占友梨絵(vo)
<br>
Time:start19:40
<br>
mc:¥未定
<br>
※詳細はお店にお問い合わせお願いいたします。
</div>
<br>


<div class="lili">2023.11.23.Thu.</div>
<div class="lilili"> @<%= link_to '富士宮HOUKI Living', '富士宮HOUKI Living' %> 
<br>
山下Topo洋平オータムツアー2023
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open14:30/start15:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.11.24.Fri.</div>
<div class="lilili"> @<%= link_to '岡崎osteria TOKYO', '岡崎osteria TOKIO' %> 
<br>
山下Topo洋平オータムツアー2023
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open19:00/start20:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.11.25.Sat.</div>
<div class="lilili"> @<%= link_to '名古屋DOXY', '名古屋DOXY' %> 
<br>
山下Topo洋平オータムツアー2023
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:00/start19:00
<br>
mc:当日¥3,500/予約¥3,000
</div>
<br>


<div class="lili">2023.11.26.Sun.</div>
<div class="lilili"> @<%= link_to '京都カジュアルレストラン陽', '京都カジュアルレストラン陽' %> 
<br>
山下Topo洋平オータムツアー2023
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open17:00/start18:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.11.28.Tue.</div>
<div class="lilili"> @<%= link_to '新宿Polkadots', 'http://www.jazz-polkadots.com' %> 
<br>
武藤勇樹トリオ
<br>
Member:三嶋大輝(b)利光玲奈(d,vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>



<div class="lili">2023.11.29.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>

<br><br><br><br>