<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>7月の注目スケジュール</h2>

<div class="lili">2025.7.1.Tue.</div>
<div class="lilili"> @<%= link_to '関内Ben Tenuto', 'https://www.bentenuto-music-bar.com' %> 
<br>
大山日出男Quartet 
<br>
Member:大山日出男(as)粟谷巧(b)塚田陽太(d)
<br>
Time:start19:00
</div>
<br>


<div class="lili">2025.7.3.Thu.</div>
<div class="lilili"> @<%= link_to 'お茶の水NARU', 'http://ocha-naru.com' %> 
<br>
川本悠自Quartet 
<br>
Member:川本悠自(b)杉本匡教(ts)河村亮(d)
<br>
Time:open18:00/start19:00
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.7.4.Fri.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
参加費:¥2,500(ソフトドリンク1杯付)
</div>
<br>


<div class="lili">2025.7.4.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.7.6.Sun.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみQuartet 
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.7.9.Wed.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Member:坂元杏理(vo)酒井麻生代(fl)寺尾陽介(b)
<br>
Time:open18:45/start19:15
<br>
mc:¥5,500
<br>
追記：リーダーの都合により、出演キャンセルとなりました
</div>
<br>


<div class="lili">2025.7.10.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
Velera企画
<br>
Member:山田丈造(tp)高木沙耶(ts)三嶋大輝(b)橋本現輝(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥4,000
</div>
<br>


<div class="lili">2025.7.11.Fri.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300(1セットのみの場合¥2,500)
</div>
<br>


<div class="lili">2025.7.13.Sun.</div>
<div class="lilili"> @<%= link_to '鴻巣花久の里', 'https://www.kakyunosato.or.jp' %> 
<br>
山下Topo洋平 全国ツアー2025 
<br>
Member:山下Topo洋平(que,zmp)ファルコン(g)
<br>
Time:open13:00/start13:30
<br>
mc:¥3,500(小•中学生¥1,000)
<br>
※ご予約は080-5192-0701(近藤)まで
</div>
<br>


<div class="lili">2025.7.15.Tue.</div>
<div class="lilili"> @<%= link_to '浅草SOMEDAY', 'http://someday.net' %> 
<br>
大山日出男Quartet
<br>
Member:大山日出男(as)吉田豊(b)塚田陽太(d)
<br>
Time:open18:45/start19:45
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2025.7.18.Fri.</div>
<div class="lilili"> @<%= link_to '北海道雪ニセコ', 'https://setsuniseko.com/ja/' %> 
<br>
ニセコジャズフェスティバル2025 浅利史花Quartet
<br>
Member:浅利史花(g)三嶋大輝(b)山崎隼(d)
<br>
Time:start17:00
<br>
※詳細は<%= link_to 'こちら', 'https://www.nisekojazzfestival.com/ja/' %>
</div>
<br>


<div class="lili">2025.7.21.Mon.</div>
<div class="lilili"> @<%= link_to '音喫茶一乗', 'https://ichijou-live.com' %> 
<br>
Member:鈴木梨花子(per)
<br>
Time:open15:00/start15:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2025.7.22.Tue.</div>
<div class="lilili"> @<%= link_to '大塚Donfan', 'https://www.jazzdonfan.com' %> 
<br>
たくみワールド 大塚ナイトフィーバーvol.6
<br>
Member:中山拓海(as)横田健斗(b)濱田省吾(d)
<br>
Time:start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.7.25.Fri.</div>
<div class="lilili"> @<%= link_to '壱岐坂Boncourage', 'https://www.bon-courage.tokyo' %> 
<br>
Member:吉野弘志(b)山田丈造(tp)、他
<br>
Time:open19:00/start19:30
</div>
<br>


<div class="lili">2025.7.26.Sat.</div>
<div class="lilili"> @<%= link_to '福島Magie Noir', 'http://www.magie-n.com' %> 
<br>
山下Topo洋平全国ツアー 福島
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open17:00/start18:30
<br>
mc:¥4,000
<br>
※要予約のお食事(¥2,860)を17:30からお召し上がり頂くことができます。
</div>
<br>


<div class="lili">2025.7.27.Sun.</div>
<div class="lilili"> @<%= link_to '那須黒羽たまち公園蔵屋敷', 'https://www.ohtawara.info/spot_detail.html?id=119' %> 
<br>
山下Topo洋平全国ツアー 那須
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open14:00/start14:30
<br>
mc:¥3,000
<br>
※ご予約は090-4733-2031(本澤)まで
</div>
<br>


<div class="lili">2025.7.30.Wed.</div>
<div class="lilili"> @<%= link_to '神仙SAM’S BAR TOKYO', 'https://tabelog.com/tokyo/A1303/A130301/13282538/?msockid=36afc16c41396eea33bbd45740456f21' %> 
<br>
Member:Mai Petty(vo)下梶谷雅人(g)
<br>
Time:start20:00
<br>
mc:tip+tc:¥1,000
</div>
<br>


<div class="lili">2025.7.31.Thu.</div>
<div class="lilili"> @<%= link_to '桜木町Dolphy', 'https://dolphy-jazzspot.com' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open18:30/start19:30
<br>
mc:¥4,500(ご予約で¥500引き)
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>