<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>2024年9月のスケジュール</h2>

<div class="lili">2024.9.1.Sun.</div>
<div class="lilili"> @<%= link_to 'コレド室町テラス大屋根広場', '大屋根広場MAP' %> 
<br>
NIHONBASHI PUB&JAZZ 2024 SUMMER
<br>
Member:XinU(vo)庄司陽太(g)山本連(b)大津惇(d)
<br>
Time:start20:00
<br>
mc:入場無料(一部有料席あり)
<br>
※詳細は<%= link_to 'こちら', 'https://www.xinu.tokyo/post/xinu-nihonbashijazz2024summer' %>
</div>
<br>


<div class="lili">2024.9.5.Thu.</div>
<div class="lilili"> @<%= link_to '大泉学園inF', 'https://in-f.live/site/' %> 
<br>
坂本貴啓オーケストラ 木管アンサンブル
<br>
Member:坂本貴啓(acc,per)宮崎達也(fl,sax)田村麻紀子(cl,vo)
<br>
Time:open19:30/start20:00
<br>
mc:¥3,000
<br>
※オーボエとピアノ持ち替えでの出演となります。
</div>
<br>


<div class="lili">2024.9.6.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM Chick Corea Friends Night
<br>
Member:JIMI橋詰(d)田村さおり(fl)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.9.7.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
レジョンルイ Trio
<br>
Member:レジョンルイ(vo)三嶋大輝(b)
<br>
Time:open15:30/start16:00
<br>
mc:¥4,000
</div>
<br>


<div class="lili">2024.9.8.Sun.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:open20:00/start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.9.9.Mon.</div>
<div class="lilili"> @<%= link_to '国立NO TRUNKS', 'https://notrunks.jp' %> 
<br>
独壇場
<br>
Member:浅利史花(g)
<br>
Time:start20:00
<br>
mc:¥1,000
<br>
※1ステージのみとなります。
</div>
<br>


<div class="lili">2024.9.10.Tue.</div>
<div class="lilili"> @<%= link_to '桜木町Dolphy', 'https://dolphy-jazzspot.com' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open18:30/start19:30
<br>
mc:前売¥4,000/当日¥4,500
</div>
<br>


<div class="lili">2024.9.14.Sat.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.9.15.Sun.</div>
<div class="lilili"> @<%= link_to '博多', 'h' %> 
<br>
中洲ジャズ
<br>
Member:XinU(vo)庄司陽太(g)中林薫平(b)大津惇(d)
<br>
Time:open/start
<br>
mc:¥
<br>
※詳細は<%= link_to 'こちら', 'https://nakasujazz.net' %>
</div>
<br>


<div class="lili">2024.9.17.Tue.</div>
<div class="lilili"> @<%= link_to '武蔵境Fontana', 'https://mcfontana.com' %> 
<br>
西村健司カルテットfeat.斎藤里菜(from札幌)
<br>
Member:西村健司(tb)斎藤里菜(b)大江航平(d)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.9.18.Wed.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
丈造&まりこpresents オードリーヘップバーン 映画音楽特集
<br>
Member:山田丈造(tp,flh)粟谷巧(b)
<br>
Time:open19:00/start20:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.9.20.Fri.</div>
<div class="lilili"> @<%= link_to '小樽フリーランス', 'http://www10.plala.or.jp/free-lance/' %> 
<br>
山下Topo洋平 全国ツアー2024
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.9.21.Sat.</div>
<div class="lilili"> @<%= link_to '札幌レッドベリースタジオ', 'http://www.akai-mi.com' %> 
<br>
山下Topo洋平 全国ツアー2024
<br>
Member:山下Topo洋平(que,zmp) guest岡田浩安(que,zmp)
<br>
Time:open14:00/start14:30
<br>
mc:予約¥3,000/当日¥3,500
</div>
<br>


<div class="lili">2024.9.22.Sun.</div>
<div class="lilili"> @<%= link_to '浦河 森のようちえん', 'https://nakayoku.jp' %> 
<br>
山下Topo洋平 全国ツアー2024
<br>
Member:山下Topo洋平(que,zmp)
<br>
※詳細は調整中です。
</div>
<br>


<div class="lili">2024.9.25.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
谷殿明良Chamber Jazz Ensemble
<br>
Member:谷殿明良(tp)平山織絵(vc)山本裕之(b)則武諒(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2024.9.26.Thu.</div>
<div class="lilili"> @<%= link_to '錦糸町シルクロードカフェ', 'https://www.silkroad-cafe.com' %> 
<br>
Member:坂本貴啓(d,acc)田村麻紀子(cl,vo)
<br>
※ベリーダンスとのコラボイベントとなります。詳細は追って更新いたします。
</div>
<br>


<div class="lili">2024.9.27.Fri.</div>
<div class="lilili"> @<%= link_to '札幌Lazy Bird', 'http://lazybird.info/top/' %> 
<br>
山田丈造カルテット
<br>
Member:山田丈造(tp)古木佳祐(b)高橋直希(d)
<br>
Time:open/start20:00
<br>
mc:予約¥3,500/当日¥4,000
</div>
<br>


<div class="lili">2024.9.28.Sat.</div>
<div class="lilili"> @<%= link_to '札幌創成East', 'h' %> 
<br>
サッポロシティジャズ×北ガスグループ
<br>
Member:山田丈造(tp)古木佳祐(b)高橋直希(d)
<br>
Time:start13:45
<br>
mc:入場無料(申込制)
<br>
※詳細は<%= link_to 'こちら', 'https://sapporocityjazz.jp/event/eastjazz2024/' %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>