<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>今後の注目スケジュール</h2>

<div class="lili">2024.8.2.Fri.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
武藤勇樹カルテット
<br>
Member:堀江洋賀(g)三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.8.30.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo/schedule/' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>

<h2>2024年8月のスケジュール</h2>

<div class="lili">2024.8.3.Sat.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
<br>
※配信は<%= link_to 'こちら', 'https://youtube.com/live/UVXhomQyY7A' %>
</div>
<br>


<div class="lili">2024.8.4.Sun.</div>
<div class="lilili"> @<%= link_to '町田Nica’s', 'http://nicas.html.xdomain.jp' %> 
<br>
ねじさり
<br>
Member:紗理(vo)寝占友梨絵(vo)
<br>
Time:open13:00/start14:00
<br>
mc:¥3,000(予約¥200引き)
</div>
<br>


<div class="lili">2024.8.4.</div>
<div class="lilili"> @<%= link_to '新宿Pit inn', 'http://pit-inn.com' %> 
<br>
佐藤恭子セプテット
<br>
Member: 佐藤恭子(As,Ss,Comp/Arr.)石川広行(tp)David Negrete(ts,fl)和田充弘(tb)佐藤潤一(b)北澤大樹(d)
<br>
Time:open19:00/start19:30
<br>
mc:前売¥3,960/当日¥4,620
<br>
※1drink付
</div>
<br>


<div class="lili">2024.8.8.Fri.</div>
<div class="lilili"> @<%= link_to '龍ケ崎コミュニケーションハウス', 'https://www.communicatehouse.com/news-1' %> 
<br>
龍ケ崎ジャズクラブ
<br>
Member:鹿野亮介(as)日下部史貴(b)秋山修一(d)
<br>
Time:open17:30/start18:00
<br>
mc:¥2,000
</div>
<br>


<div class="lili">2024.8.9.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂B♭', 'https://bflat.yamano-music.co.jp' %> 
<br>
西村健司ピースコンサート2024
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:00/start19:00
<br>
mc:一般¥3,300/学生¥2,200
</div>
<br>


<div class="lili">2024.8.10.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.8.15.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:岩野未侑(vo)鈴木梨花子(per)
<br>
Time:open18:30/start19:30
<br>
mc:一般¥3,500/20代¥1,500/10代¥1,000
</div>
<br>


<div class="lili">2024.8.16.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.8.17.Sat.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:高木沙耶(ts)
<br>
Time:open18:00/start18:30
<br>
mc:男性¥5,000/女性¥4,000
</div>
<br>


<div class="lili">2024.8.18.Sun.</div>
<div class="lilili"> @<%= link_to '新宿Pit inn', 'http://pit-inn.com' %> 
<br>
土井徳浩カルテット
<br>
Member:土井徳浩(cl)手島甫(b)則武諒(d)
<br>
Time:open13:30/start14:00
<br>
mc:¥2,500(1drink付)
</div>
<br>


<div class="lili">2024.8.19.Mon.</div>
<div class="lilili"> @<%= link_to '渋谷バッキー', 'http://buckie.starfree.jp' %> 
<br>
ボーカルセッション
<br>
Member:渡瀬ひとみ(vo)日下部史貴(b)
<br>
Time:start14:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.8.22.Thu.</div>
<div class="lilili"> @<%= link_to '銀座the deep', 'https://jazz-thedeep.com' %> 
<br>
Member:酒井麻生代(fl)
<br>
Time:open19:00/start19:30
<br>
mc:一般¥3,300/学生¥1,650
<br>
※ tc¥550(前日までにご予約頂いた方、女性のみのグループ、学生の方、はtc無料になります)
</div>
<br>


<div class="lili">2024.8.24.Sat.</div>
<div class="lilili"> @<%= link_to '桐生市市民文化会館小ホール', 'http://www.kiryu-piif.jp' %> 
<br>
XinU EP#03 Release Tour in KIRYU
<br>
Member:XinU(vo)庄司陽太(g)山本連(b)大津惇(d)
<br>
Time:open16:00/start17:00
<br>
mc:一般¥4,800
<br>
※詳細は<%= link_to 'こちら', 'https://t.livepocket.jp/e/p-tjw' %> 
</div>
<br>


<div class="lili">2024.8.25.Sun.</div>
<div class="lilili"> @<%= link_to '学芸大学珈琲美学', 'https://www.coffeebigaku.com' %> 
<br>
Member:坂本杏里(vo)高木沙耶(ts)
<br>
Time:open18:00/start19:00
<br>
mc:¥4,000
<br>
※配信(¥3,000)は<%= link_to 'こちら', 'https://twitcasting.tv/coffee_bigaku/shopcart/317466' %>
</div>
<br>


<div class="lili">2024.8.26.Mon.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.8.27.Tue.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
谷殿明良セクステット
<br>
Member:谷殿明良(tp)江澤茜(as)駒野逸美(tb)高橋将(b)山崎隼(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥1,500
<br>
※tc¥500(ナッツ類食べ放題)
</div>
<br>


<div class="lili">2024.8.29.Thu.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
mc:¥2,500(ソフトドリンク2杯付)
</div>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>