<div class="lililili">2023年7月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>
<div class="lili">2023.7.1.Sat.</div>
<div class="lilili"> @<%= link_to '淡路町Lydian', 'http://jazzlydian.com/' %> 
<br>
Member:Lili(vo)堀江洋賀(g)
<br>
Time:open13:00/start13:30
<br>
mc:¥3,400
</div>
<br>


<div class="lili">2023.7.2.Sun.</div>
<div class="lilili"> @<%= link_to '日吉WWY', 'https://wonderwall-yokohama.jp' %> 
<br>
Jill-Decoy association×WWY8周年企画 末広がりの会
<br>
Member:chihiRo(vo)towada(d)平石カツミ(b)
<br>
Time:open11:30/start12:30
<br>
mc:¥6,380(ランチ付)
</div>
<br>


<div class="lili">2023.7.8.Sat.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
曽我部泰紀カルテット
<br>
Member:曽我部泰紀(ts)三嶋大輝(b)山崎隼(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2023.7.9.Sun.</div>
<div class="lilili"> @<%= link_to '池袋Dope lounge', 'http://www.dopelounge.com/sp/index.html' %> 
<br>
橘ひろ子 birthday live
<br>
Member:橘ひろ子(vo)河野広明(tb)杉本匡教(ts)下梶谷雅人(g)吉川大介(b)ジーン重村(d)
<br>
Time:open/start
<br>
mc:¥13,000(飲み放題•軽食付き)
</div>
<br>



<div class="lili">2023.7.12.Wed.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:鈴木梨花子(d)
<br>
Time:start19:00
<br>
mc:¥2,000
<br>
※参加型のセッションとなります。
</div>
<br>



<div class="lili">2023.7.15.Sat.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>



<div class="lili">2023.7.19.Wed.</div>
<div class="lilili"> @<%= link_to '新宿Polkadots', 'http://www.jazz-polkadots.com' %> 
<br>
<span>★武藤勇樹リーダーライブ★</span>
<br>
Member:三嶋大輝(b)利光玲奈(d,vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>



<div class="lili">2023.7.21.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>



<div class="lili">2023.7.22.Sat.</div>
<div class="lilili"> @入間まるぺ通り2号公演野外ステージ
<br>
武藤勇樹トリオ+寝占友梨絵
<br>
Member:山本裕之(b)坂本貴啓(d)寝占友梨絵(vo)
<br>
Time:start17:00
<br>
mc:観覧無料
<br>
※雨天決行となります。
</div>
<br>



<div class="lili">2023.7.23.Sun.</div>
<div class="lilili"> @<%= link_to '赤坂dot&blue', 'https://www.dot-blue.net' %> 
<br>
ジャムセッション
<br>
Member:千葉征央(b)
<br>
Time:open18:00/start18:30
<br>
mc:プレイヤー¥1,870/リスナー¥770
<br>
※参加型のセッションイベントとなります。
</div>
<br>



<div class="lili">2023.7.26.Wed.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Member:Remi(vo)楠井五月(b)柴田亮(d)
<br>
Time:open18:30/start19:00
<br>
mc:¥5,500
</div>
<br>



<div class="lili">2023.7.28.Fri.</div>
<div class="lilili"> @<%= link_to '錦糸町ヒューズボックス', 'https://www.fusebox1974.com' %> 
<br>
Soul Trail
<br>
Member:亜耶(vo)ユウコ(vo)大木Wil(vo)甲本奈央美(sax)入山和代(tp)小沢勝巳(g)Lawrence Daniel(b)遠藤洋(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥4,950
</div>
<br>
<br>
<br>
<br>
<br><br><br><br>