<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>注目スケジュール</h2>

<div class="lili">2025.1.15.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>

<h2>2025年1月のスケジュール</h2>
<div class="lili">2025.1.4.Sat.</div>
<div class="lilili"> @<%= link_to '関内Ben Tenuto', 'https://ben-tenuto.owst.jp' %> 
<br>
大山日出男カルテット
<br>
Member:大山日出男(as)大塚義将(b)佐藤大洋(d)
<br>
Time:start19:00
<br>
mc:¥3,000+tc:¥500
</div>
<br>


<div class="lili">2025.1.5.Sun.</div>
<div class="lilili"> @<%= link_to '台湾Breeze MEGA Studio', 'h' %> 
<br>
XinU 2nd full album A.O.R. release tour
<br>
Member:XinU(vo)庄司陽太(g)山本連(b)大津惇(d)
<br>
Time:open18:00/start19:00
<br>
※詳細は<%= link_to 'こちら', 'https://tickets.funone.io/activity_detail/15' %> 
</div>
<br>


<div class="lili">2025.1.8.Wed.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
谷殿明良セクステット
<br>
Member:谷殿明良(tp)江澤茜(as)駒野逸美(tb)高橋将(b)山崎隼(d)
<br>
Time:start19:30
<br>
mc:¥1,500+tc:¥500(ナッツ類食べ放題)
</div>
<br>


<div class="lili">2025.1.9.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
坂元杏理DUO
<br>
Member:坂元杏理(vo)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.1.10.Fri.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
山田丈造New Quartet 新春スペシャル！
<br>
Member:山田丈造(tp)古木佳祐(b)高橋直希(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2025.1.14.Tue.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start13:00
<br>
mc:¥2,500(ソフトドリンク2杯付)
</div>
<br>


<div class="lili">2025.1.14.Tue.</div>
<div class="lilili"> @<%= link_to '桜木町Dolphy', 'https://dolphy-jazzspot.com' %> 
<br>
Remiグループ
<br>
Member:Remi(vo)太田剣(as)河村亮(d)
<br>
Time:open18:30/start19:30
<br>
mc:前売¥4,000/当日¥4,500
</div>
<br>


<div class="lili">2025.1.15.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.1.17.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:¥投げ銭
</div>
<br>


<div class="lili">2025.1.18.Sat.</div>
<div class="lilili"> @<%= link_to '町田Nica’s', 'http://nicas.html.xdomain.jp' %> 
<br>
駒野逸美クインテット
<br>
Member:駒野逸美(tb)谷殿明良(tp)清水昭好(b)塚田陽太(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,500(予約¥200引き)
</div>
<br>


<div class="lili">2025.1.20.Mon.</div>
<div class="lilili"> @<%= link_to 'お茶の水NARU', 'http://ocha-naru.com' %> 
<br>
川本悠自カルテット
<br>
Member:川本悠自(b)杉本匡教(ts)河村亮(d)
<br>
Time:open18:00/start19:00
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.1.21.Tue.</div>
<div class="lilili"> @<%= link_to '日比谷MERCUR HOTEL Restaurant Cafe & Bar La Scene', 'https://www.mercure-tokyo-hibiya.com/restaurant/' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(vo,snare)片山士駿(fl)
<br>
Time:open18:00/start19:00
<br>
mc:¥2,200
</div>
<br>


<div class="lili">2025.1.22.Wed.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
鈴木梨花子DUO
<br>
Member:鈴木梨花子(perc)
<br>
Time:start19:30
<br>
mc:¥1,500+tc:¥500(ナッツ類食べ放題)
</div>
<br>


<div class="lili">2025.1.24.Fri.</div>
<div class="lilili"> @<%= link_to 'ラビスタ東京ベイ', 'https://dormy-hotels.com/resort/hotels/la_tokyobay/' %> 
<br>
鈴木梨花子バンド
<br>
Member:岩野未侑(vo)高橋将(b)鈴木梨花子(perc)
<br>
Time:1st18:30/2nd19:45
<br>
※詳細は<%= link_to 'こちら', 'https://dormy-hotels.com/information/tokyobay_musicevent/index.php' %> 
</div>
<br>


<div class="lili">2025.1.25.Sat.</div>
<div class="lilili"> @<%= link_to '蕨Re.Delight', 'https://redelight.jp' %> 
<br>
酒井麻生代DUO
<br>
Member:酒井麻生代(fl)
<br>
Time:open13:00/start13:30
<br>
mc:¥4,000
<br>
※配信は<%= link_to 'こちら', 'https://twitcasting.tv/c:redelight1516/shopcart/348975' %> 
</div>
<br>


<div class="lili">2025.1.29.Wed.</div>
<div class="lilili"> @<%= link_to 'ラビスタ東京ベイ', 'https://dormy-hotels.com/resort/hotels/la_tokyobay/' %> 
<br>
鈴木梨花子バンド
<br>
Member:石川周之介(ts)越野振人(b)鈴木梨花子(d)
<br>
Time:1st18:30/2nd19:45
<br>
※詳細は<%= link_to 'こちら', 'https://dormy-hotels.com/information/tokyobay_musicevent/index.php' %> 

</div>
<br>


<div class="lili">2025.1.30.Thu.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
Member:佐藤恭子(as)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>