<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>今後の注目スケジュール</h2>

<div class="lili">2024.8.2.Fri.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
武藤勇樹カルテット
<br>
Member:堀江洋賀(g)三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.8.30.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo/schedule/' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>

<h2>2024年7月のスケジュール</h2>
<div class="lili">2024.7.1.Mon.</div>
<div class="lilili"> @<%= link_to '桜木町Dolphy', 'https://dolphy-jazzspot.com' %> 
<br>
Remiトリオ
<br>
Member:Remi(vo)太田剣(as)
<br>
Time:open18:30/start19:30
<br>
mc:予約¥4,000/当日¥4,500
</div>
<br>


<div class="lili">2024.7.4.Thu.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
mc:¥2,500(ソフトドリンク2杯込)
</div>
<br>


<div class="lili">2024.7.5.Fri.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Member:中山拓海(as)guest眞田桂子(vo)
<br>
Time:open18:45/start19:15
<br>
mc:¥4,950
<br>
※90分ワンステージのみとなります。
</div>
<br>


<div class="lili">2024.7.10.Wed.</div>
<div class="lilili"> @<%= link_to '池袋INDEPENDENCE', 'http://jazz-independence.com' %> 
<br>
SNP02 vol.7
<br>
Member:田村さおり(fl)北條達子(fl)
<br>
Time:open19:00/start19:00
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2024.7.11.Thu.</div>
<div class="lilili"> @<%= link_to '下北沢rpm', 'https://www.rpmshimokita.com' %> 
<br>
てんたJAM
<br>
Member:後藤天太(sax)宮本憲(g)熊代崇人(b)大月’KALTA’英宣(d)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,500(2drink付)
</div>
<br>


<div class="lili">2024.7.12.Fri.</div>
<div class="lilili"> @<%= link_to '渋谷WWWX', 'https://www-shibuya.jp/sp/' %> 
<br>
XinU EP#03 RELEASE LIVE!
<br>
Member:XinU(vo)庄司陽太(g)山本連(b)大津惇(d)海野あゆみ(sax)Haruna(cho)
<br>
Time:open18:30/start19:30
<br>
mc:一般前売¥5,500
<br>
※詳細はこちらhttps://t.livepocket.jp/e/wwwx0712xinu
</div>
<br>


<div class="lili">2024.7.13.Sat.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.7.14.Sun.</div>
<div class="lilili"> @<%= link_to '鴻巣花久の里', 'https://www.kakyunosato.or.jp' %> 
<br>
山下Topo洋平全国ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open13:00/start13:30
<br>
mc:¥3,000(小中学生¥1,000)
<br>
※ご予約は080-5192-0701(近藤)までお願いいたします。
</div>
<br>


<div class="lili">2024.7.16.Tue.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
山田丈造カルテット
<br>
Member:山田丈造(tp)古木佳祐(b)塚田陽太(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.7.17.Wed.</div>
<div class="lilili"> @<%= link_to '新宿SOMEDAY', 'http://someday.net/index2.html' %> 
<br>
竹内直old&new dream jazz orchestra plays John Coltrane A Love Supreme
<br>
Member:竹内直(ts)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)工藤精(b)吉岡大輔(d)
<br>
Time:open18:45/start19:45
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2024.7.18.Thu.</div>
<div class="lilili"> @<%= link_to '静岡セレンディピティ', 'セレンディピティ' %> 
<br>
山下Topo洋平全国ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.7.19.Fri.</div>
<div class="lilili"> @<%= link_to '岡崎osteria TOKIO', 'https://s.tabelog.com/aichi/A2305/A230502/23054670/' %> 
<br>
山下Topo洋平全国ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
※詳細は調整中です。
</div>
<br>


<div class="lili">2024.7.20.Sat.</div>
<div class="lilili"> @<%= link_to '和歌山maywind cafe', 'https://maywindcafe2016.p-kit.com' %> 
<br>
山下Topo洋平全国ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:30
<br>
mc:前売¥3,000/当日¥3,500
</div>
<br>


<div class="lili">2024.7.21.Sun.</div>
<div class="lilili"> @<%= link_to '寝屋川市立市民会館', 'https://andesneyagawafes.jimdosite.com' %> 
<br>
アンデスねやがわフィエスタ
<br>
Member:山下Topo洋平(que,zmp)
<br>
※詳細は調整中です。
</div>
<br>


<div class="lili">2024.7.26,27,28.</div>
<div class="lilili"> @<%= link_to '地ビールフェスト甲府2024', 'https://sannichiybs.info/beer/' %> 
<br>
高木沙耶グループ
<br>
Member:高木沙耶(ts)小金丸慧(g)熊代崇人(b)関根豊明(d)
<br>
※詳細は上記リンクからご覧ください。
</div>
<br>


<div class="lili">2024.7.31.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
Velera企画
<br>
Member:Hana Ardie(vo)高木沙耶(ts)鉄井孝司(b)関根豊明(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥4,000
</div>
<br>
<br>
<br>
<br>
<br><br><br><br>