<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>
<h2>11月の注目のイベント</h2>
<div class="lili">2024.11.13.Wed.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
武藤勇樹カルテット
<br>
Member:堀江洋賀(g)三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>
<br>
<h2>2024年11月のスケジュール</h2>
<div class="lili">2024.11.1.Fri.</div>
<div class="lilili"> @<%= link_to '一宮 織部亭', '織部亭' %> 
<br>
山下Topo洋平全国ツアー2024 一宮
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open17:30/start18:00
<br>
mc:¥3,000
<br>
※限定20名様で織部膳(¥1,400)をご注文頂けます。
</div>
<br>


<div class="lili">2024.11.2.Sat.</div>
<div class="lilili"> @<%= link_to '京都 紫明会館 3F講堂', 'https://bunka.nii.ac.jp/heritages/detail/285410' %> 
<br>
山下Topo洋平全国ツアー2024 京都
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open14:00/start14:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.11.3.Sun.</div>
<div class="lilili"> @<%= link_to '伊丹ALWAYS', 'https://www.alwaysitami.com' %> 
<br>
山下Topo洋平全国ツアー2024 伊丹
<br>
Member:山下Topo洋平(que,zmp)guest橋本仁(que)
<br>
Time:open12:30/start13:00
<br>
mc:予約¥3,500/当日¥4,000
</div>
<br>


<div class="lili">2024.11.4.Mon.</div>
<div class="lilili"> @<%= link_to '倉敷PennyLane', 'https://pennylane-web.com' %> 
<br>
山下Topo洋平全国ツアー 倉敷
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open16:30/start17:00
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2024.11.6.Wed.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Member:酒井麻生代(fl)鉄井孝司(b)柵木雄斗(d)
<br>
Time:open18:45/start19:15
<br>
mc:¥4,950
<br>
※90分間のワンステージのみとなります。
</div>
<br>


<div class="lili">2024.11.8.Fri.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300(1セットのみの場合¥2,500)
<br>
※配信は<%= link_to 'こちら', 'https://passmarket.yahoo.co.jp/event/show/detail/022wwcdwt6241.html' %>
</div>
<br>


<div class="lili">2024.11.13.Wed.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
武藤勇樹カルテット
<br>
Member:堀江洋賀(g)三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.11.15.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.11.18.Mon.</div>
<div class="lilili"> @<%= link_to '日比谷MERCUR HOTEL Restaurant Cafe & Bar La Scene', 'https://www.mercure-tokyo-hibiya.com/restaurant/' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(vo,snare)片山士駿(fl)
<br>
Time:open18:00/start19:00
<br>
mc:¥2,200
<br>
※ミュージックチャージ+ドリンク2杯+バーフード1品付で¥5,500のプランもございます。
</div>
<br>


<div class="lili">2024.11.21.Thu.</div>
<div class="lilili"> @<%= link_to '高円寺after hours', 'https://afterhours1975.com' %> 
<br>
Member:牧田理佐(vo)
<br>
Time:start19:30
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2024.11.22.Fri.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:紗理(vo)
<br>
Time:open19:00/start19:40
</div>
<br>


<div class="lili">2024.11.23.Sat.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
<br>
</div>
<br>


<div class="lili">2024.11.24.Sun.</div>
<div class="lilili"> @<%= link_to '学芸大学珈琲美学', 'https://www.coffeebigaku.com' %> 
<br>
Miluji Te
<br>
Member:飯嶋ももこ(vo)岩野未侑(vo)久保田裕加(vo)
<br>
Time:open11:30/start12:30
<br>
mc:¥4,400
<br>
※配信は<%= link_to 'こちら', 'https://twitcasting.tv/coffee_bigaku/shopcart/333825' %>
</div>
<br>


<div class="lili">2024.11.25.</div>
<div class="lilili"> @<%= link_to '新宿Pit inn', 'http://pit-inn.com' %> 
<br>
Old&new dream jazz orchestra ジョンコルトレーン特集
<br>
Member:竹内直(ts)中山拓海(as)伴田裕(bs)赤塚謙一(tp)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,850
</div>
<br>


<div class="lili">2024.11.27.Wed.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
参加費:¥2,500(ソフトドリンク2杯付)
</div>
<br>


<div class="lili">2024.11.27.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
ABC
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.11.28.Sat.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2024.11.29.Fri.</div>
<div class="lilili"> @<%= link_to '大塚Donfan', 'https://www.jazzdonfan.com' %> 
<br>
大力セッション
<br>
Member:金子義浩(b)関根豊明(d)原大力(顧問)
<br>
Time:start19:00
<br>
mc:¥1,000
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>