<div class="lililili">2023年8月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>
<div class="lili">2023.8.2.Wed.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:寝占友梨絵(vo)
<br>
Time:open19:00/start19:40
<br>
mc:お店(045-641-3396)にお問い合わせくださいませ。
</div>
<br>


<div class="lili">2023.8.4.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.8.6.Sun.</div>
<div class="lilili"> @<%= link_to '赤坂B♭', 'https://bflat.yamano-music.co.jp' %> 
<br>
西村健司ピースコンサート
<br>
Member:西村健司(tb)鈴木雄太郎(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:00/start19:00
<br>
mc:一般¥3,000/学生2,000
</div>
<br>


<div class="lili">2023.8.16.Wed.</div>
<div class="lilili"> @<%= link_to '大塚Donfan', 'https://www.jazzdonfan.com' %> 
<br>
中山拓海カルテット
<br>
Member:中山拓海(as)金子義浩(b)鈴木孝宣(d)guest荒牧峻也(tp)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.8.18.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.8.19.Sat.</div>
<div class="lilili"> @<%= link_to '汐留Blue Mood', 'https://blue-mood.jp' %> 
<br>
西畑春之介Live「いけずやわ」
<br>
Member:進藤洋樹(g)松岡健(perc)
<br>
Time:open17:30/start18:30
<br>
mc:¥4,500
</div>
<br>



<div class="lili">2023.8.22.Tue.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo' %> 
<br>
谷殿明良Chamber Jazz Encemble
<br>
Member:谷殿明良(tp)平山織絵(Vc)山本裕之(b)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2023.8.23.Wed.</div>
<div class="lilili"> @<%= link_to '関内BarBarBar', 'https://www.barbarbar.jp/fcblog/111916.html' %>
<br>
Member:福山詩織(vo)
<br>
Time:open17:30/start19:00
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2023.8.25.Fri.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
利光玲奈トリオ
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.8.26.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo' %> 
<br>
West Side Sisters
<br>
Member:飯嶋ももこ(vo)岩野未侑(vo)情家みえ(vo)
<br>
Time:open18:30/start19:00
<br>
mc:¥4,000
</div>
<br>


<div class="lili">2023.8.27.Sun.</div>
<div class="lilili"> @<%= link_to '札幌Jamsica', 'http://www.jamusica.jp' %> 
<br>
後藤天太×武藤勇樹Duo Tour
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,000
</div>
<br>



<div class="lili">2023.8.31.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>