<div class="lililili">2023年6月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>
<div class="lili">2023.6.3.Sat.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
Afternoon Live
<br>
Member:下田千鶴子(vo)JJ(vo)菅原正宣(b)
<br>
Time:open14:30/start15:00
<br>
mc:¥2,000
<br>
※完全予約制となります。
</div>
<br>


<div class="lili">2023.6.4.Sun.</div>
<div class="lilili"> @<%= link_to '代官山UNIT', 'https://www.unit-tokyo.com' %> 
<br>
XinU 2nd EP Release LIVE
<br>
Member:XinU(vo)庄司陽太(g)山本連(b)大津惇(d)
<br>
Time:open17:00/start18:00
<br>
mc:¥4,800
</div>
<br>


<div class="lili">2023.6.8.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
石田裕人カルテット
<br>
Member:石田裕人(ts)山田ヒロシ(b)深水洋(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.6.10.Sat.</div>
<div class="lilili"> @<%= link_to '山梨南アルプスカフェあみ〜ご', 'https://cafe-amigo.blogspot.com/?m=1' %> 
<br>
山下Topo洋平 New album「KOKOPELLI」発売記念ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.6.11.Sun.</div>
<div class="lilili"> @<%= link_to '長野小海町ヤルヴィホール', 'https://www.koumi-town.jp/office2/archives/education/concert/post-164.html' %> 
<br>
山下Topo洋平 New album「KOKOPELLI」発売記念ツアー
<br>
Member:山下Topo洋平(que,zmp)
<br>
Opening act:Mios
<br>
Time:open13:30/start14:00
<br>
mc:¥2,500(小、中、高生無料)
</div>
<br>


<div class="lili">2023.6.15.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:鈴木梨花子(per)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.6.16.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.6.22.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
美沙樹と勇樹
<br>
Member:矢元美沙樹(ts)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.6.24.Sat.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:宮島孝夫(b)
<br>
Time:start15:00
<br>
mc:¥2,000
<br>
※参加型セッションとなります。
</div>
<br>


<div class="lili">2023.6.27.Tue.</div>
<div class="lilili"> @<%= link_to '大泉学園inF', 'https://in-f.live/site/' %> 
<br>
坂本貴啓オーケストラ　木管アンサンブル
<br>
Member:坂本貴啓(acc,d)田村麻紀子(cl,vo)宮崎達也(fl,sax,bcl)
<br>
Time:open19:30/start20:00
<br>
mc:¥3,000
<br>
※オーボエメインでの出演予定となります。
</div>
<br>


<div class="lili">2023.6.29.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.6.31.Fri.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>

<br>
<br>
<br>
<br><br><br><br>