<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>2024年2月のスケジュール</h2>

<div class="lili">2024.2.1.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
<br>
※配信は<%= link_to 'こちら', 'https://youtube.com/live/c4H-GICFneg' %>
</div>
<br>


<div class="lili">2024.2.2.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.2.3.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.2.7.Wed.</div>
<div class="lilili"> @<%= link_to '下北沢Apollo', 'https://www.apollonoise.com' %> 
<br>
Member:Erik Nelson(sax)高橋陸(b)鈴木梨花子(d)
<br>
Time:open19:00/start19:30
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.2.8.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:鈴木梨花子(per)
<br>
Time:open18:30/start19:30
<br>
mc:¥
<br>
※配信は<%= link_to 'こちら', 'https://youtube.com/live/K88HZhH8fv8' %>
</div>
<br>


<div class="lili">2024.2.10.Sat.</div>
<div class="lilili"> @<%= link_to '太宰府Jazz工房Nishimura', 'http://www5.plala.or.jp/jazz-factory/' %> 
<br>
西村健司セクステット九州ライブ
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)松下一弘(b)大江航平(d)
<br>
Time:open18:00/start19:00
<br>
mc:前売¥3,500/当日¥4,000
</div>
<br>


<div class="lili">2024.2.14.Wed.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:鈴木梨花子(d)
<br>
Time:start19:00
<br>
参加費:¥2,000
<br>
※置きベースございます。
</div>
<br>


<div class="lili">2024.2.15.Thu.</div>
<div class="lilili"> @<%= link_to '銀座the deep', 'https://jazz-thedeep.com' %> 
<br>
Member:寝占友梨絵(vo)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,300+tc¥550
</div>
<br>


<div class="lili">2024.2.16.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.2.17.Sat.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
利光玲奈トリオ
<br>
Member:利光玲奈(d)三嶋大輝(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭＋tc¥500
</div>
<br>


<div class="lili">2024.2.20.Tue.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ヴォーカルセッション
<br>
Time:start14:00
<br>
参加費:¥1,500
</div>
<br>


<div class="lili">2024.2.21.Wed.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
山田丈造トリオ
<br>
Member:山田丈造(tp)古木佳祐(b)
<br>
Time:open19:00/start19:30
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2024.2.28.Wed.</div>
<div class="lilili"> @<%= link_to '新宿SOMEDAY', 'http://someday.net/index2.html' %> 
<br>
竹内直old&new dream jazz orchestra
<br>
Member:竹内直(ts,cl)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)中村恵介(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:open18:45/start19:45
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2024.2.29.Thu.</div>
<div class="lilili"> @<%= link_to '大泉学園inF', 'https://in-f.live/site/' %> 
<br>
坂本貴啓オーケストラ
<br>
Member:坂本貴啓(acc,per)宮崎達也(fl,sax)田村麻紀子(cl)
<br>
Time:open19:30/start20:00
<br>
mc:¥3,000
<br>
※オーボエとピアノでの出演となります。
</div>
<br>

<br><br><br><br>