<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>1月の注目イベント</h2>

<div class="lili">2024.1.24.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>
<br>
<br>
<br>
<h2>2024年1月のスケジュール</h2>

<div class="lili">2024.1.5.Fri.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
Member:高井健(vo,g)
<br>
Time:open19:00/start19:20
<br>
mc:¥2,500+ご飲食代(minimam¥1,000)
</div>
<br>


<div class="lili">2024.1.11.Thu.</div>
<div class="lilili"> @<%= link_to '吉祥寺strings', 'https://www.jazz-strings.com' %> 
<br>
Member:岩野未侑(vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2024.1.19.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.1.20.Sat.</div>
<div class="lilili"> @<%= link_to '葛飾シンフォニーヒルズ内レストラン', 'http://ksh-hillsrestaurant.com' %> 
<br>
利光玲奈トリオ
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open17:30/start19:00
<br>
mc:SS席¥5,000/S席¥4,500/A席¥4,000(和洋オードブル付)
<br>
※詳細は<%= link_to 'こちら', 'https://www.k-mil.gr.jp/program/symphony/2024/0120r.html' %>
</div>
<br>


<div class="lili">2024.1.21.Sun.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,000
</div>
<br>




<div class="lili">2024.1.26.Fri.</div>
<div class="lilili"> @<%= link_to '錦糸町fuse box', 'https://www.fusebox1974.com' %> 
<br>
Soul trail
<br>
Member:AYA(vo)SYO(vo)Lawrence Daniels(b)小沢勝巳(g)甲本奈央美(sax)入山和代(tp)遠藤洋(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥4,950
</div>
<br>

<br><br><br><br>