<div class="lililili">2023年9月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">2023.9.1.Fri.</div>
<div class="lilili"> @<%= link_to '名古屋valentine drive', 'https://valentinedrive.com' %> 
<br>
後藤天太×武藤勇樹Duo Tour
<br>
Member:後藤天太(sax)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.9.2.Sat.</div>
<div class="lilili"> @<%= link_to '大阪Cafe make', 'http://www5f.biglobe.ne.jp/~make/' %> 
<br>
後藤天太×武藤勇樹Duo Tour
<br>
Member:後藤天太(sax)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>



<div class="lili">2023.9.5.Tue.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
美沙樹と勇樹
<br>
Member:矢元美沙樹(ts)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.9.7.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:鈴木梨花子(per)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.9.9.Sat.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open17:30/start18:00
<br>
mc:¥3,000
</div>
<br>



<div class="lili">2023.9.10.Sun.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:宮島孝夫(b)
<br>
Time:start15:00
<br>
mc:¥2,000
<br>
※参加型のジャムセッションです。
</div>
<br>



<div class="lili">2023.9.11.Mon.</div>
<div class="lilili"> @<%= link_to '銀座シグナス', 'https://cygnus.jp' %> 
<br>
Jazzとニッポンの歌とおしゃべりLive
<br>
Member:ちか(vo)佐藤忍(b)小前賢吾(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,500
</div>
<br>



<div class="lili">2023.9.14.Thu.</div>
<div class="lilili"> @<%= link_to '関内A.B.Smile', 'https://absmile.jimdofree.com' %> 
<br>
竹内直old&new dream jazz orchestra
<br>
Member:竹内直(ts,cl)中山拓海(as)伴田裕(bs)赤塚謙一(tp,hr)山田丈造(tp)忍田耕一(tb)大塚義将(b)吉岡大輔(d)
<br>
Time:start19:30
<br>
mc:¥2,800
</div>
<br>



<div class="lili">2023.9.15.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.9.16.Sat.</div>
<div class="lilili"> @<%= link_to '
赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>



<div class="lili">2023.9.20.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂B♭', 'https://bflat.yamano-music.co.jp' %> 
<br>
内堀勝ビッグバンド
<br>
Member:八巻綾一(as)米田裕也(as)岡崎正典(ts)伴田裕(ts)鵜木孝之(bs)佐久間勳(tp)小澤篤士(tp)宮本裕史(tp)中村恵介(tp)三塚知貴(tb)駒野逸美(tb)西田幹(tb)中島香里(vib)清水昭好(b)稲垣貴庸(d)
<br>
Time:open18:00/start19:00
<br>
mc:¥4,500/学割¥3,500
</div>
<br>



<div class="lili">2023.9.25.Mon.</div>
<div class="lilili"> @<%= link_to '渋谷バッキー', 'http://buckie.starfree.jp' %> 
<br>
ボーカルセッション
<br>
Member:渡瀬ひとみ(vo)日下部史貴(b)
<br>
Time:start14:00
<br>
mc:¥3,000
<br>
※参加型のボーカルセッションです。
</div>
<br>


<div class="lili">2023.9.25.Mon.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
石田裕人カルテット
<br>
Member:石田裕人(ts)山田ヒロシ(b)深水洋(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>



<div class="lili">2023.9.26.Tue.</div>
<div class="lilili"> @<%= link_to '大泉学園inF', 'https://in-f.live/site/' %> 
<br>
坂本貴啓オーケストラ
<br>
Member:坂本貴啓(acc,per)宮崎達也(fl,as,bcl)田村麻紀子(cl)
<br>
Time:open19:30/start20:00
<br>
mc:¥3,000
<br>
※オーボエとピアノでの出演となります。
</div>
<br>



<div class="lili">2023.9.29.Fri.</div>
<div class="lilili"> @<%= link_to '町田Nica’s', 'http://nicas.html.xdomain.jp' %> 
<br>
西村健司セクステット
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,700/予約¥3,500
</div>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>