<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>


<h2>2024年6月のスケジュール</h2>

<div class="lili">2024.6.1.Sat.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
Member:牧田理佐(vo)
<br>
Time:open18:00/1st18:30/2nd19:40
<br>
mc:2set通し¥3,500(飲食¥1,000分込み)/1setのみ¥2,000(飲食¥500分込み)
</div>
<br>


<div class="lili">2024.6.2.Mon.</div>
<div class="lilili"> @<%= link_to '大泉学園inF', 'https://in-f.live/site/' %> 
<br>
坂本貴啓オーケストラ木管アンサンブル
<br>
Member:宮崎達也(fl,sax)田村麻紀子(cl,vo)坂本貴啓(acc,per)
<br>
Time:open19:30/start20:00
<br>
mc:¥3,000
<br>
※オーボエとピアノでの出演となります。
</div>
<br>


<div class="lili">2024.6.4.Tue.</div>
<div class="lilili"> @<%= link_to '茗荷谷Galleria caffe U_U', 'https://cafe.u-u.cc' %> 
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.6.5.Wed.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
山田丈造トリオ
<br>
Member:山田丈造(tp)粟谷巧(b)
<br>
Time:open19:00/start20:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.6.6.Thu..</div>
<div class="lilili"> @<%= link_to '長崎キイト舎', 'https://satoyamagakusha.org' %> 
<br>
山下Topo洋平全国ツアー2024 
<br>
Member:山下Topo洋平(que,zmp)guestシマカワコウヂ(倍音楽器,他)
<br>
Time:open18:00/start19:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.6.7.Fri.</div>
<div class="lilili"> @<%= link_to '福岡もも庵', 'https://www.momo-an.com' %> 
<br>
山下Topo洋平全国ツアー2024 
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.6.8.Sat.</div>
<div class="lilili"> @<%= link_to '鹿児島天文館カフェ', 'https://m.facebook.com/tenmonkancafe' %> 
<br>
山下Topo洋平全国ツアー2024
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:30
<br>
mc:前売¥3,000/当日¥3,500
</div>
<br>


<div class="lili">2024.6.9.Sun.</div>
<div class="lilili"> @<%= link_to '鹿屋水車', 'ミュージック バー 水車' %> 
<br>
山下Topo洋平全国ツアー2024
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open14:30/start15:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2024.6.10.Mon.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.6.12.Wed.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
平日ジャムセッション
<br>
Member:鈴木梨花子(d,per)
<br>
Time:start19:00
<br>
mc:¥2,000
</div>
<br>


<div class="lili">2024.6.14.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.6.15.Sat.</div>
<div class="lilili"> @<%= link_to '吉祥寺SOMETIME ', 'https://www.sometime.co.jp/sometime/' %> 
<br>
入山ひとみカルテット
<br>
Member:山本裕之(b)坂本貴啓(d)
<br>
Time:start14:00
<br>
mc:¥2,500
</div>
<br>


<div class="lili">2024.6.16.Sun.</div>
<div class="lilili"> @<%= link_to '下北沢Apollo', 'https://www.apollonoise.com' %> 
<br>
ジャムセッション
<br>
Member:調整中
<br>
Time:start14:00
<br>
mc:¥1,500
</div>
<br>


<div class="lili">2024.6.20.Thu.</div>
<div class="lilili"> @<%= link_to '南与野Jazzmal', 'https://jazzmal20090411.wixsite.com/jazzmal' %> 
<br>
Member:寝占友梨絵(vo)
<br>
Time:open19:00/start19:30
<br>
mc:¥2,000
</div>
<br>



<div class="lili">2024.6.21.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo' %> 
<br>
レジョン•ルイTrio
<br>
Member:レジョン•ルイ(vo,vn)三嶋大輝(b)
<br>
Time:open19:00/start19:30
<br>
mc:¥4,000
</div>
<br>


<div class="lili">2024.6.26.Wed.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et lange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ライブ&セッション
<br>
Member:エリック•ネルソン(ts)廣橋契(b)鈴木梨花子(d)
<br>
Time:start19:30
<br>
mc:投げ銭
<br>
※ライブは1ステージのみ、その後はジャムセッション(参加費¥500)となります。
</div>
<br>


<div class="lili">2024.6.27.Thu.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo' %> 
<br>
谷殿明良Chamber Jazz Ensemble
<br>
Member:谷殿明良(tp)平山織絵(vc)山本裕之(b)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2024.6.28.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.6.29.Sat.</div>
<div class="lilili"> @<%= link_to '長野小海町ヤルヴィホール', 'https://www.culture.nagano.jp/facilities/445/' %> 
<br>
山下Topo洋平全国ツアー2024
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open13:30/start14:00
<br>
mc:¥2,500(小,中,高生無料)
<br>
※ご予約はこちら(090-6123-8219)
</div>
<br>


<div class="lili">2024.6.30.Sun.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(d,vo)三嶋大輝(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>
<br>
<br>
<br><br><br><br>