<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>☆3月の注目イベント☆</h2>


<div class="lili">2024.3.26.Tue.</div>
<div class="lilili"> @<%= link_to '新宿Polkadots', 'http://www.jazz-polkadots.com' %> 
<br>
武藤勇樹トリオ
<br>
Member:三嶋大輝(b)利光玲奈(d,vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>

<h2>2024年3月のスケジュール</h2>

<div class="lili">2024.3.1.Fri.</div>
<div class="lilili"> @<%= link_to '町田Nica’s', 'http://nicas.html.xdomain.jp' %> 
<br>
西村健司セクステット
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,700
</div>
<br>


<div class="lili">2024.3.2.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
谷殿明良Chamber Jazz Ensemble
<br>
Member:谷殿明良(tp)平山織絵(vc)山本裕之(b)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2024.3.3.Sun.</div>
<div class="lilili"> @<%= link_to '御茶ノ水KAKADO', 'https://kakado.jp' %> 
<br>
キツネノツマミ
<br>
Member:KAUAN OKAMOTO,sakasa,Sam Homma
<br>
Time:open18:00/start18:30
<br>
mc:¥4,000
<br>
※スリーマンのイベントです。全てサポートで出演させて頂きます。
</div>
<br>


<div class="lili">2024.3.7.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2024.3.15.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.3.16.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2024.3.17.Sat.</div>
<div class="lilili"> @<%= link_to '下北沢Apollo', 'https://www.apollonoise.com' %> 
<br>
ジャムセッション
<br>
Member:廣橋契(b)柳沼佑育(b)
<br>
Time:start14:00
<br>
mc:¥1,500
</div>
<br>


<div class="lili">2024.3.18.Mon.</div>
<div class="lilili"> @<%= link_to '銀座the deep', 'https://jazz-thedeep.com' %> 
<br>
Member:酒井麻生代(fl)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,300＋tc:¥500
</div>
<br>


<div class="lili">2024.3.20.Wed.</div>
<div class="lilili"> @<%= link_to '吉祥寺strings', 'https://www.jazz-strings.com' %> 
<br>
入山ひとみトリオ
<br>
Member:入山ひとみ(vn)山本裕之(b)
<br>
Time:open17:30/start18:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2024.3.22.Fri.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
谷殿明良セクステット
<br>
Member:谷殿明良(tp)曽我部泰紀(ts)駒野逸美(tb)高橋将(b)山崎隼(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥1,500＋tc¥500
</div>
<br>


<div class="lili">2024.3.23.Sat.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
Member:海老原しのぶ(vo)
<br>
Time:start18:00
<br>
mc:投げ銭
<br>
※ライブ後はジャムセッション(参加費¥500)があります。
</div>
<br>


<div class="lili">2024.3.24.Sun.</div>
<div class="lilili"> @<%= link_to '下北沢ADRIFT', 'https://adrift-shimokita.com' %> 
<br>
XinU presents collective
<br>
Member:庄司陽太(g)山本連(b)大津惇(d)
<br>
Time:start15:00
<br>
mc:¥5,500
<br>
※イベントの詳細は<%= link_to 'こちら', 'https://t.livepocket.jp/e/xinu_pres_collective_adrift' %>
</div>
<br>


<div class="lili">2024.3.28.Thu.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
mc:¥1,500
</div>
<br>


<div class="lili">2024.3.28.Thu.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
Member:Eric Nelson(ts)廣橋契(b)鈴木梨花子(d)
<br>
Time:start19:30
<br>
mc:投げ銭
<br>
※ライブは1セットのみ、その後ジャムセッション(参加費¥500)があります。
</div>
<br>


<div class="lili">2024.3.31.Sun.</div>
<div class="lilili"> @<%= link_to '藤沢ル•クラシック', 'https://www.starmore.jp/html/page64.html' %> 
<br>
Member:齋藤草平(b)石川勇人(d)
<br>
Time:open12:30/start12:50
<br>
mc:前売¥3,000/当日¥3,500
</div>
<br>

<br><br><br><br>