<div class="lililili">イベント・LIVE情報</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<h2>5月・6月の注目スケジュール</h2>

<div class="lili">2025.5.21.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.5.22.Thu.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
武藤勇樹カルテット
<br>
Member:堀江洋賀(g)三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.5.26.Mon.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
Member:鈴木梨花子(per)
<br>
Time:start19:30
<br>
mc:¥1,500+tc:¥500(ナッツ類食べ放題付)
</div>
<br>


<div class="lili">2025.6.6.Fri.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'https://sugarhill.jp' %> 
<br>
Member:佐藤恭子(as,ss)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300(1stageのみ¥2,500)
</div>
<br>
<br>
<br>

<h2>2025年5月のスケジュール</h2>


<div class="lili">2025.5.2.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.5.3.Sat.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
谷殿明良セクステット
<br>
Member:谷殿明良(tp)駒野逸美(tb)江澤茜(as)高橋将(b)山崎隼(d)
<br>
Time:start18:00
<br>
mc:¥1,500+tc:¥500(ナッツ類食べ放題付)
</div>
<br>


<div class="lili">2025.5.6.Tue.</div>
<div class="lilili"> @<%= link_to '学芸大学珈琲美学', 'https://www.coffeebigaku.com' %> 
<br>
Member:坂元杏理(vo)片山士駿(fl)松原慶史(g)
<br>
Time:open11:30/start12:30
<br>
mc:¥4,500
<br>
※配信は<%= link_to 'こちら' , 'https://twitcasting.tv/coffee_bigaku/shopcart/365394' %>
</div>
<br>


<div class="lili">2025.5.8.Thu..</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.5.9.Fri.</div>
<div class="lilili"> @<%= link_to '吉祥寺strings', 'https://www.jazz-strings.com' %> 
<br>
Member:渡瀬ひとみ(vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2025.5.10.Sat.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2025.5.12.Mon.</div>
<div class="lilili"> @<%= link_to '中目黒楽屋', 'https://www.rakuya.asia' %> 
<br>
山下Topo洋平”FLOW”
<br>
Member:山下Topo洋平(que,zmp)箭島裕治(b)渡辺庸介(per)
<br>
Time:open18:30/start19:30
<br>
mc:¥4,400
</div>
<br>


<div class="lili">2025.5.16.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:open20:00start20:10
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.5.17.Sat.</div>
<div class="lilili"> @<%= link_to '町田Nica’s', 'http://nicas.html.xdomain.jp' %> 
<br>
西村健司セクステット
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:30/start19:00
<br>
mc:¥3,700(予約¥200引き)
</div>
<br>


<div class="lili">2025.5.19.Mon.</div>
<div class="lilili"> @<%= link_to '関内Apple', 'https://blog.goo.ne.jp/jazzlivebar_apple' %> 
<br>
Member:鈴木史子(vo)
<br>
Time:open19:00/start19:40
</div>
<br>


<div class="lili">2025.5.20.Tue.</div>
<div class="lilili"> @<%= link_to '浅草SOMEDAY', 'http://someday.net' %> 
<br>
大山日出男カルテット
<br>
Member:大山日出男(as)粟谷巧(b)塚田陽太(d)
<br>
Time:open18:45/start19:45
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2025.5.21.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂velera', 'https://velera.tokyo' %> 
<br>
ごとーとむとー
<br>
Member:後藤天太(sax)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,800
</div>
<br>


<div class="lili">2025.5.22.Thu.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
武藤勇樹カルテット
<br>
Member:堀江洋賀(g)三嶋大輝(b)利光玲奈(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.5.23.Fri.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
Janon Panic Push
<br>
Member:大塚望(vo)長谷川ジャッカル慧人(b)木村美保(cho)原島燎平(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2025.5.26.Mon.</div>
<div class="lilili"> @<%= link_to '江古田そるとぴーなつ', 'https://saltpeanuts.jp' %> 
<br>
Member:鈴木梨花子(per)
<br>
Time:start19:30
<br>
mc:¥1,500+tc:¥500(ナッツ類食べ放題付)
</div>
<br>


<div class="lili">2025.5.27.Tue.</div>
<div class="lilili"> @<%= link_to '茗荷谷Galleria caffe U_U', 'https://cafe.u-u.cc/?utm_source=Google&utm_medium=referral&utm_campaign=lcid_5991503685077620119' %> 
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>

<div class="lili">2025.5.28.Wed.</div>
<div class="lilili"> @<%= link_to '池袋P’s bar', 'https://psbar.net' %> 
<br>
ボーカルセッション
<br>
Time:start14:00
<br>
参加費:¥2,500(ソフトドリンク1杯付)
</div>
<br>


<div class="lili">2025.5.29.Thu.</div>
<div class="lilili"> @<%= link_to '名古屋Doxy', 'https://livedoxy.net' %> 
<br>
HITOMI IRIYAMA JAZZ Violin Quartet Delta Tour
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open18:00/start19:00
<br>
mc:¥4,000(ご予約で300円引き)
</div>
<br>


<div class="lili">2025.5.30.Fri.</div>
<div class="lilili"> @<%= link_to '神戸gallery zing', 'https://www.zing-music.com' %> 
<br>
HITOMI IRIYAMA JAZZ Violin Quartet Delta Tour
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥4,400
</div>
<br>


<div class="lili">2025.5.31.Fri.</div>
<div class="lilili"> @<%= link_to '大阪Jazz Club GALLON', 'https://gallonjazz.com' %> 
<br>
HITOMI IRIYAMA JAZZ Violin Quartet Delta Tour
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open18:30/start19:30
<br>
mc:1stage¥3,000/通し¥4,500(ご予約で¥500円引き)
</div>
<br>


<div class="lili">2025.6.1.Sun.</div>
<div class="lilili"> @<%= link_to '京都Bonds Rosary', 'https://bondsrosary.com' %> 
<br>
HITOMI IRIYAMA JAZZ Violin Quartet Delta Tour
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥4,000(ご予約で¥300引き)
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>