<div class="lililili">2023年4月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">2023.4.1.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
TOMTOM
<br>
Member:田村さおり(fl)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.4.2.Sun.</div>
<div class="lilili"> @<%= link_to '下北沢Apollo', 'https://www.apollonoise.com' %> 
<br>
ジャムセッション
<br>
Member:未定
<br>
Time:start14:00
<br>
mc:¥1,500
</div>
<br>


<div class="lili">2023.4.4.Tue.</div>
<div class="lilili"> @<%= link_to '大泉学園inF', 'https://in-f.live/site/' %> 
<br>
坂本貴啓オーケストラ 木管アンサンブル
<br>
Member:坂本貴啓(acc,per)田村麻紀子(cl,vo)宮崎達也(fl,sax)
<br>
Time:open19:30/start20:00
<br>
mc:¥3,000
<br>
※オーボエとピアノの持ち替えで出演いたします。
</div>
<br>


<div class="lili">2023.4.9.Sun.</div>
<div class="lilili"> @<%= link_to '池袋Apple Jump', 'https://applejump.net' %> 
<br>
入山ひとみカルテット
<br>
Member:入山ひとみ(vn)山本裕之(b)坂本貴啓(d)
<br>
Time:open13:30/start14:00
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.4.12.Wed.</div>
<div class="lilili"> @<%= link_to '銀座the deep', 'https://jazz-thedeep.com' %> 
<br>
Member:Remi(vo)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,080
</div>
<br>


<div class="lili">2023.4.14.Fri.</div>
<div class="lilili"> @<%= link_to '池袋Absolute blue', 'https://absol.blue' %> 
<br>
後藤天太Jazz Project
<br>
Member:後藤天太(sax)小川晋平(b)柴田亮(d)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500/配信¥2,500
</div>
<br>


<div class="lili">2023.4.15.Sat.</div>
<div class="lilili"> @<%= link_to '町田Into the Blue', 'http://intotheblue.info' %> 
<br>
Izumi&Yumi Birthday Live
<br>
Member:Izumi(fl)坂内佑美(vn)
<br>
Time:open13:00/start13:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2023.4.21.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.com' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.4.22.Sat.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
A.B.C.
<br>
Member:加藤友彦(vo,hrp)郡司康男(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.4.23.Sun.</div>
<div class="lilili"> @<%= link_to '神楽坂u-ma kagurazaka', 'https://www.u-makagurazaka.com' %> 
<br>
Jazz vocal workshop
<br>
Member:飯嶋ももこ(vo)
<br>
Time:open13:00/start13:30
<br>
mc:¥4,500
<br>
※ジャズボーカルワークショップイベントです。ワークショップ後にミニライブがあります。
</div>
<br>


<div class="lili">2023.4.25.Tue.</div>
<div class="lilili"> @<%= link_to '赤坂見附velera', 'https://velera.tokyo' %> 
<br>
谷殿明良Chamber Jazz Ensemble
<br>
Member:谷殿明良(tp)平山織絵(vc)山本裕之(b)
<br>
Time:open19:00/start19:30
<br>
mc:¥3,500
</div>
<br>


<div class="lili">2023.4.27.Thu.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
利光玲奈Trio
<br>
Member:利光玲奈(d)三嶋大輝(b)
<br>
Time:open19:00/start19:30
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.4.28.Fri.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
石田裕人カルテット
<br>
Member:石田裕人(ts)山田ヒロシ(b)深水洋(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.4.29.Sat.</div>
<div class="lilili"> @<%= link_to '市川h.s.trash', 'http://red.zero.jp/h.s.trash/' %>
<br>
Member:堀江洋賀(g)山本裕之(b)
<br>
Time:start19:30
<br>
mc:¥3,000
</div>
<br>
<br>
<br>
<br><br><br><br>