<div class="lililili">2023年3月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">2023.3.1.Wed.</div>
<div class="lilili"> @<%= link_to '新宿Polkadots', 'http://www.jazz-polkadots.com' %> 
<br>
Member:石田裕人(ts)
<br>
Time:open18:30/start19:30
<br>
mc:¥2,800
</div>
<br>


<div class="lili">2023.3.4.Sat.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'http://www.sugarhill.jp' %> 
<br>
Member:鈴木梨花子(per)朝田拓馬(g)
<br>
Time:open17:00/start18:00
<br>
mc:¥3,000
<br>
※配信は<%= link_to 'こちら', 'https://passmarket.yahoo.co.jp/event/show/detail/029246edbhw21.html' %>
</div>
<br>


<div class="lili">2023.3.5.Sun.</div>
<div class="lilili"> @<%= link_to '恵比寿Time Out Cafe & Diner', 'https://www.timeoutcafe.jp' %> 
<br>
XinU、東郷清丸、Mime、Yamori
<br>
Time:start16:00
<br>
mc:前売¥3,000/当日¥3,500
<br>
※XinUサポートでの出演となります。詳細は<%= link_to 'こちら', 'https://t.livepocket.jp/e/l3-iy' %>
</div>
<br>


<div class="lili">2023.3.12.Sun.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
ジャムセッション
<br>
Member:宮島孝夫(b)
<br>
Time:start15:00
<br>
mc:¥2,000
<br>
※参加型のセッションイベントです。
</div>
<br>


<div class="lili">2023.3.15.wed.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
美沙樹と勇樹
<br>
Member:矢元美沙樹(ts)三浦トオル(b)JIMI橋詰(d)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.3.17.Fri.</div>
<div class="lilili"> @<%= link_to '八王子Kayo’s bar', 'http://kayosbar.co' %> 
<br>
Member:伊地知晋平(ts)
<br>
Time:start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2023.3.18.Sat.</div>
<div class="lilili"> @<%= link_to '阿佐ヶ谷KLAVIER', 'http://www2.tbb.t-com.ne.jp/klavier/www/' %> 
<br>
Member:MIWO(vo)安ヵ川大樹(b)
<br>
Time:open19:00/start19:30
<br>
mc:¥2,700
</div>
<br>


<div class="lili">2023.3.22.Wed.</div>
<div class="lilili"> @<%= link_to '吉祥寺strings', 'https://www.jazz-strings.com' %> 
<br>
Member:中島有美(vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,300
</div>
<br>


<div class="lili">2023.3.23.Thu.</div>
<div class="lilili"> @<%= link_to '草加Sugar Hill', 'http://www.sugarhill.jp' %> 
<br>
Member:中島香里(vib)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.3.24.Fri.</div>
<div class="lilili"> @<%= link_to '六本木Alfie', 'https://alfie.tokyo' %> 
<br>
Member:Remi(vo)楠井五月(b)
<br>
Time:open18:30/start19:00
<br>
mc:¥4,950
</div>
<br>


<div class="lili">2023.3.25.Sat.</div>
<div class="lilili"> @<%= link_to '南大塚le chat et l’ange', 'https://sites.google.com/view/le-chat-et-lange' %> 
<br>
Member:高井健(vo,g)
<br>
Time:start18:00
<br>
mc:投げ銭
<br>
※ライブ後はセッション(参加費¥500)となります
</div>
<br>


<div class="lili">2023.3.27.Mon.</div>
<div class="lilili"> @<%= link_to '渋谷バッキー', 'http://buckie.starfree.jp/event_info.html' %> 
<br>
ボーカルセッション
<br>
Member:渡瀬ひとみ(vo)日下部史貴(b)
<br>
Time:start14:00
<br>
mc:¥3,000
<br>
※参加型のセッションイベントです。
</div>
<br>


<div class="lili">2023.3.28.Tue.</div>
<div class="lilili"> @<%= link_to '新宿Polkadots', 'http://www.jazz-polkadots.com' %> 
<br>
<span>☆武藤勇樹リーダーライブ☆</span>
<br>
Member:三嶋大輝(b)利光玲奈(d,vo)
<br>
Time:open18:30/start19:30
<br>
mc:¥3,000
</div>
<br>


<div class="lili">2023.3.30.Thu.</div>
<div class="lilili"> @<%= link_to '渋谷琥珀', 'https://www.udagawacafe.com/kohaku/' %> 
<br>
曽我部泰紀カルテット
<br>
Member:曽我部泰紀(ts)三嶋大輝(b)山崎隼(d)
<br>
Time:open19:00/start20:00
<br>
mc:¥2,500
</div>
<br>
<br>
<br><br><br><br>