<div class="lililili">2022年11月スケジュール</div>
<br>
<h4><span>※日時等は状況に応じて変更になる可能性があります</span></h4>
<br>

<div class="lili">2022.11.2.Wed.</div>
<div class="lilili"> @<%= link_to '代々木Naru', 'https://yoyogi-naru.com' %> 
<br>
Member:金子ナオ(vo)川名雅子(vo)鉄井孝司(b)
<br>
Time:open18:30/start19:15
<br>
mc:¥3300
</div>
<br>


<div class="lili">2022.11.5.Sat.</div>
<div class="lilili"> @<%= link_to '草加SugarHill jazz&drinks', 'http://www.sugarhill.jp' %> 
<br>
Member:鈴木梨花子(per)土屋絢子(vo)
<br>
Time:open17:00/start18:00
<br>
mc:¥3000
</div>
<br>


<div class="lili">2022.11.6.Sun.</div>
<div class="lilili"> @<%= link_to '学芸大学珈琲美学珈琲美学', 'https://www.coffeebigaku.com' %> 
<br>
Member: 伊是名千絵(vo)MIWO(vo)
<br>
Time:start12:30
<br>
mc:¥4400
</div>
<br>


<div class="lili">2022.11.8.Tue.</div>
<div class="lilili"> @<%= link_to '赤坂G’s bar', 'https://g-s-bar.com' %> 
<br>
Young&Fine
<br>
Member:JIMI橋詰(d)三浦トオル(b)
<br>
Time:open19:00/start20:00
<br>
mc:投げ銭
</div>
<br>


<div class="lili">2022.11.11.Fri.</div>
<div class="lilili"> @関内かなっくホール
<br>
Yokohama Jazz Scrum 2022 
竹内直 old&new dream jazz orchestra
<br>
Member:竹内直(ts,cl)中山拓海(as)菅野裕(as)Raymond Mcmorrin(ts)伴田裕(bs)赤塚謙一(tp,hr)中村恵介(tp)原朋直(tp)忍田耕一(tb)若井俊也(b)吉岡大輔(d)
<br> 
Time:open18:00/start18:30
<br>
mc:当日¥4000/前売¥3500/配信¥2000
<br>
※谷殿明良ビッグバンドとの対バンイベントとなります。詳細は<%= link_to 'こちらの公式サイト', 'https://yokohama-jazz-scrum.jimdosite.com' %> をご覧ください。
</div>
<br>


<div class="lili">2022.11.12.Sat.</div>
<div class="lilili"> @一宮 織部亭
<br>
山下Topo洋平 New Album 「KOKOPELLI」発売記念ツアー 愛知
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open17:30/start18:00
<br>
mc:¥3000
<br>
※ドリンク持ち込み可、飲食あり別途料金「織部膳」￥1300(税抜)・要予約・15食限定
</div>
<br>


<div class="lili">2022.11.13.Sun.</div>
<div class="lilili"> @京都Music Cafe 双園京都Music Cafe 双園
<br>
山下Topo洋平 New Album 「KOKOPELLI」発売記念ツアー 京都
<br>
Member:山下Topo洋平(que,zmp)
<br>
Time:open18:30/start19:00
<br>
mc:¥3500/学割¥2500
</div>
<br>


<div class="lili">2022.11.17.Thu.</div>
<div class="lilili"> @ <%= link_to '阿佐ヶ谷Staccato', 'https://www.a-staccato.com' %> 
<br>
1st album “Ripple” 発売1周年ライブ
<br>
Member:Remi(vo)
<br>
Time:open19:00/start19:30
<br>
mc:¥2500
</div>
<br>


<div class="lili">2022.11.19.Sat.</div>
<div class="lilili"> @ <%= link_to '学芸大学Maple House', 'http://www.maplehouse.jp/about.html' %> 
<br>
Juri Yoshimura meets Gloopy Group
<br>
Member:吉村樹里(vo)金澤力哉(b)篠崎賢(tp)大木拓也(d)
<br>
Time:open18:00/start19:00
<br>
mc:当日¥3200/予約¥3000/配信¥2200
</div>
<br>


<div class="lili">2022.11.22.Tue.</div>
<div class="lilili"> @<%= link_to '淡路町Lydian', 'http://jazzlydian.com/' %> 
<br>
Member:馬越脇崚(as)佐々木順(vo)
<br>
Time:open18:30/start19:15
<br>
mc:¥3400
</div>
<br>


<div class="lili">2022.11.23.Wed.</div>
<div class="lilili"> @<%= link_to '赤坂Cantina', 'https://akasakac2020.wixsite.com/livehouse' %> 
<br>
Hamazo session
<br>
Member:Hamazo(vo)北浜実(g)三浦トオル(b)JIMI橋詰(d)
<br>
Time:start未定
<br>
mc:未定
</div>
<br>


<div class="lili">2022.11.24.Thu.</div>
<div class="lilili"> @ <%= link_to '希望ヶ丘CASK', 'https://jazzlivecask.wixsite.com/cask-kibougaoka' %> 
<br>
シノブス
<br>
Member:佐藤忍(b)坂本貴啓(d)
<br>
Time:open18:30/start19:30
<br>
mc:¥2500
</div>
<br>


<div class="lili">2022.11.26.Sat.</div>
<div class="lilili"> @<%= link_to '広島ミュージックラウンジカポネ', 'https://kapone69.com/event/8312/' %> 
<br>
西村健司セクステット
<br>
Member:西村健司(tb)河原真彩(tp)小笠原涼(ts)長谷川慧人(b)大江航平(d)
<br>
Time:open18:00/start19:30
<br>
mc:¥3500
</div>
<br>


<div class="lili">2022.11.28.Mon.</div>
<div class="lilili"> @帝国ホテル孔雀の間
<br>
MAKOTO IMPERIAL JAZZ  真琴つばさCD発売記念バースデーディナーショー
<br>
※詳細は<%= link_to 'こちら', 'https://crescmusic.jp/2022/07/09/makoto-imperial-jazz～真琴つばさcd発売記念%E3%80%80バースデイ%E3%80%80帝国/' %>
<br>
チケットは<%= link_to 'こちら', 'https://t.pia.jp/pia/event/event.do?eventCd=2236783' %>
</div>
<br>
<div class="lili">2022.10.1.Sat.</div>
<div class="lilili"> @下北沢Music Island O
<br>
きくちゃんりきちゃん×Gloopy Group
<br>
Member:金澤力哉(b)篠崎賢(tp)大木拓也(d)
<br>
Time:open19:30/start20:00
<br>
mc:¥3000
<br>
※対バンのイベントとなります。
</div>
<br>
<br><br><br><br>