<header class="header">


<div class="title">
<%= link_to 'Yuking Baby', root_path, class: "Editlink" %>
</div>
<h5>-Yuki Muto Official Web Site-</h5>


<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to "Top", root_path, class: "nav-link" %>
  </li> 
  <li class="nav-item">
    <%= link_to "Biography", moneys_path, class: "nav-link" %>
  </li> 
  <li class="nav-item">
    <%= link_to "Youtube", books_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
     <%= link_to "News", travels_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
     <%= link_to "Event", programings_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
     <%= link_to "Shopping", mentals_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
     <%= link_to "Contact", travels_path, class: "nav-link" %>
  </li>
</ul>
    <% if user_signed_in? %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <% link_to "投稿", new_article_path, class: "nav-link active mx-5" %>
        </li>
        <li class="nav-item">
          <% link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
    <% else %>
        <li class="nav-item">
          <% link_to "ログイン", new_user_session_path, class: "nav-link active mx-5" %>
        </li>
      </ul>
    <% end %>
    </div>  

</header>