<!DOCTYPE html>
<html>
  <head>
    <title>武藤勇樹 Official Web Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="google-site-verification" content="zEyNCiQ3Tc67txnTWADazd0t06PH9l2wjPMzm0sCoz8" />
  </head>

  <body>
  <%= render 'shared/header' %>
    <%= yield %>
  <%= render 'shared/footer'%>
  </body>
</html>
